In [28]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

In [12]:
url = "http://www.timeanddate.com/holidays/us/2015?hol=16#!hol=49"
r = requests.get(url)

In [16]:
holidays = BeautifulSoup(r.text,'html.parser')
print (holidays.title)

<title>Holidays and observances in United States in 2015</title>

In [21]:
import string  # for translation
table = str.maketrans("", "")  # for removing punctuation etc
rows = holidays.select("body > div > div.main-content-div > div.fixed > table > tbody > tr")
holidays_list = []
for row in rows:
    cols = list(row)
    day = cols[0].string  # first col is the day
    holiday_type = cols[3].string
    name = cols[2].string
    if holiday_type is not None:
        if "national holiday" in holiday_type.lower():
            print (day, name ) # purely to debug
            holiday = {}
            holiday['name'] = str(name).translate(table, string.punctuation+" ")
            holiday['day'] = str(day) + ", 2001"  # since all transactions are from 2001
            holidays_list.append(holiday)
 
# now convert to data frame
holidays_frame = pd.DataFrame(holidays_list)

In [22]:
holidays_frame

Empty DataFrame
Columns: []
Index: []

In [23]:
holidays_list

[]

In [33]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

dr = pd.date_range(start='2010-01-01', end='2017-12-31')
df = pd.DataFrame()

In [34]:
type(dr)

pandas.core.indexes.datetimes.DatetimeIndex

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 1 columns):
Date    2922 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 22.9 KB

In [35]:
df['Date'] = dr

In [26]:
cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())

df['Holiday'] = df['Date'].isin(holidays)

In [27]:
df

           Date  Holiday
0    2010-01-01     True
1    2010-01-02    False
2    2010-01-03    False
3    2010-01-04    False
4    2010-01-05    False
5    2010-01-06    False
6    2010-01-07    False
7    2010-01-08    False
8    2010-01-09    False
9    2010-01-10    False
10   2010-01-11    False
11   2010-01-12    False
12   2010-01-13    False
13   2010-01-14    False
14   2010-01-15    False
15   2010-01-16    False
16   2010-01-17    False
17   2010-01-18     True
18   2010-01-19    False
19   2010-01-20    False
20   2010-01-21    False
21   2010-01-22    False
22   2010-01-23    False
23   2010-01-24    False
24   2010-01-25    False
25   2010-01-26    False
26   2010-01-27    False
27   2010-01-28    False
28   2010-01-29    False
29   2010-01-30    False
...         ...      ...
2892 2017-12-02    False
2893 2017-12-03    False
2894 2017-12-04    False
2895 2017-12-05    False
2896 2017-12-06    False
2897 2017-12-07    False
2898 2017-12-08    False
2899 2017-12-09    False
2900 2017-12-10    False
2901 2017-12-11    False
2902 2017-12-12    False
2903 2017-12-13    False
2904 2017-12-14    False
2905 2017-12-15    False
2906 2017-12-16    False
2907 2017-12-17    False
2908 2017-12-18    False
2909 2017-12-19    False
2910 2017-12-20    False
2911 2017-12-21    False
2912 2017-12-22    False
2913 2017-12-23    False
2914 2017-12-24    False
2915 2017-12-25     True
2916 2017-12-26    False
2917 2017-12-27    False
2918 2017-12-28    False
2919 2017-12-29    False
2920 2017-12-30    False
2921 2017-12-31    False

[2922 rows x 2 columns]