In [1]:
import pandas as pd
import numpy as np

In [2]:
ls data/sports_scores/

astros_1A10.csv*   Rice_10H80.csv*    Tex_15E40.csv*
dynamo_10H30.csv*  rockets_1A10.csv*  UH_10H50.csv*

In [3]:
ls data/crime_beats/

crime_10H30_10_17.csv*  crime_10H80_10_17.csv*  crime_1A10_10_17.csv*
crime_10H50_10_17.csv*  crime_15E40_10_17.csv*

In [4]:
games = 'data/sports_scores/astros_1A10.csv'
crime = 'data/crime_beats/crime_1A10_10_17.csv'

## scores dataframes

In [5]:
df = pd.read_csv(games,index_col='date').sort_index(ascending=True)

## win column
df['win'] =  np.where(df['team_score'] > df['opp_score'],1,0)

# only oposing name and win boolean
df = df[['opposing','win']]

# show

df.head()

           opposing  win
date
2010-04-05      SFG    0
2010-04-06      SFG    0
2010-04-07      SFG    0
2010-04-09      PHI    0
2010-04-10      PHI    0

## crime dataframe

In [6]:
crime_df = pd.read_csv(crime,index_col='Date').sort_index(ascending=True)

## only crimes after 2009
crime_df = crime_df[crime_df.year >=2010]

# selectd columns
crime_df = crime_df[['OffenseType','Premise','NumOffenses','Hour','weekday']]

# count Offense type given date
date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()


## show
date_crimes.head()

            OffenseType
Date
2010-01-01           11
2010-01-02           11
2010-01-03            8
2010-01-04            6
2010-01-05            5

## Days dataframe

In [7]:
days = pd.date_range(start='01/01/2010', end='12/30/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)

days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]

## Merge days dataframe and  crimes

In [8]:
calendar_crimes = pd.merge(days,date_crimes,  left_index=True, right_index=True, how='left')
calendar_crimes.head()

            OffenseType
days
2010-01-01         11.0
2010-01-02         11.0
2010-01-03          8.0
2010-01-04          6.0
2010-01-05          5.0

## Merge calendar_crimes with scores

In [9]:
merge_data = pd.merge(calendar_crimes,df,  left_index=True, right_index=True, how='left')

# change column names
merge_data.columns = ['offenses','away_team','win']

merge_data.head()

            offenses away_team  win
2010-01-01      11.0       NaN  NaN
2010-01-02      11.0       NaN  NaN
2010-01-03       8.0       NaN  NaN
2010-01-04       6.0       NaN  NaN
2010-01-05       5.0       NaN  NaN

## Display non nans

In [10]:
merge_data.dropna(subset=['away_team', 'win'])

            offenses    away_team  win
2010-04-05      12.0          SFG  0.0
2010-04-06       7.0          SFG  0.0
2010-04-07       6.0          SFG  0.0
2010-04-09       9.0          PHI  0.0
2010-04-10       9.0          PHI  0.0
2010-04-11       6.0          PHI  0.0
2010-04-20       2.0          FLA  1.0
2010-04-21       1.0          FLA  1.0
2010-04-22       7.0          FLA  0.0
2010-04-23       8.0          PIT  1.0
2010-04-24       5.0          PIT  1.0
2010-04-25       6.0          PIT  1.0
2010-04-27       8.0          CIN  0.0
2010-04-28       2.0          CIN  0.0
2010-04-29       9.0          CIN  0.0
2010-05-03       8.0          ARI  0.0
2010-05-04       8.0          ARI  0.0
2010-05-05       2.0          ARI  1.0
2010-05-06       1.0          ARI  0.0
2010-05-07      12.0          SDP  0.0
2010-05-08       7.0          SDP  0.0
2010-05-09       5.0          SDP  1.0
2010-05-19       8.0          COL  1.0
2010-05-20       9.0          COL  0.0
2010-05-21       8.0          TBR  1.0
2010-05-22       5.0          TBR  0.0
2010-05-23       6.0          TBR  0.0
2010-05-31       1.0          WSN  0.0
2010-06-01      12.0          WSN  1.0
2010-06-02       8.0          WSN  1.0
...              ...          ...  ...
2017-08-17      10.0          ARI  0.0
2017-08-18       4.0          OAK  1.0
2017-08-19       1.0          OAK  1.0
2017-08-20       2.0          OAK  0.0
2017-08-22       5.0          WSN  0.0
2017-08-23       6.0          WSN  1.0
2017-08-24       4.0          WSN  0.0
2017-08-29       1.0          TEX  0.0
2017-08-30       3.0          TEX  0.0
2017-08-31       2.0          TEX  1.0
2017-09-02       7.0          NYM  1.0
2017-09-02       7.0          NYM  1.0
2017-09-03       7.0          NYM  1.0
2017-09-15       4.0          SEA  1.0
2017-09-16       2.0          SEA  1.0
2017-09-17       3.0          SEA  1.0
2017-09-19       7.0          CHW  1.0
2017-09-20       5.0          CHW  1.0
2017-09-21       4.0          CHW  0.0
2017-09-22       2.0          LAA  1.0
2017-09-23       4.0          LAA  1.0
2017-09-24       4.0          LAA  0.0
2017-10-06       6.0       Boston  1.0
2017-10-13       4.0     New York  1.0
2017-10-14       6.0     New York  1.0
2017-10-20       5.0     New York  1.0
2017-10-21       5.0     New York  1.0
2017-10-27       7.0  Los Angeles  1.0
2017-10-28       7.0  Los Angeles  0.0
2017-10-29       4.0  Los Angeles  1.0

[658 rows x 3 columns]

In [11]:
merge_data.to_csv('data/final/Astros1017_final.csv')