In [1]:
import pandas as pd
import numpy as np

In [2]:
ls data/sports_scores/

astros_1A10.csv*   Rice_10H80.csv*    Tex_15E40.csv*
dynamo_10H30.csv*  rockets_1A10.csv*  UH_10H50.csv*

In [3]:
ls data/crime_beats/

crime_10H30_10_17.csv*  crime_10H80_10_17.csv*  crime_1A10_10_17.csv*
crime_10H50_10_17.csv*  crime_15E40_10_17.csv*

In [4]:
games = 'data/sports_scores/dynamo_10H30.csv'

In [5]:
crime = 'data/crime_beats/crime_10H30_10_17.csv'

In [10]:
df = pd.read_csv(games,index_col='full_date')
crime_df = pd.read_csv(crime,index_col='Date')

In [12]:
df.head()

,Unnamed: 0,home_team,home_score,away_team,away_score,season,beat
full_date,,,,,,,
2010-04-01,1,HOU,2,Real Salt Lake,1,reg,10H30
2010-04-10,2,HOU,0,LA Galaxy,2,reg,10H30
2010-04-17,3,HOU,3,Chivas USA,0,reg,10H30
2010-05-01,5,HOU,3,Sporting KC,0,reg,10H30
2010-05-05,6,HOU,0,FC Dallas,1,reg,10H30

In [13]:
crime_df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date,,,,,,,,,,,
2001-12-30,10H30,2000-2099,TEXAS,Aggravated Assault,APARTMENT,2.0,0.0,30,Sunday,Dec,2001
2004-01-09,10H30,2700-2799,CLAY,Theft,Residence or House,1.0,10.0,9,Friday,Jan,2004
2005-02-12,10H30,800-899,ST EMANUEL,Theft,BAR/NIGHT CLUB,1.0,22.0,12,Saturday,Feb,2005
2005-11-23,10H30,800-899,ST EMANUEL,Theft,BAR/NIGHT CLUB PARKING LOT,1.0,0.0,23,Wednesday,Nov,2005
2005-12-12,10H30,800-899,ST EMANUEL,Theft,BAR/NIGHT CLUB,1.0,19.0,12,Monday,Dec,2005

In [14]:
df['win'] =  np.where(df['home_score'] > df['away_score'],1,0)

In [15]:
df.head()

,Unnamed: 0,home_team,home_score,away_team,away_score,season,beat,win
full_date,,,,,,,,
2010-04-01,1,HOU,2,Real Salt Lake,1,reg,10H30,1
2010-04-10,2,HOU,0,LA Galaxy,2,reg,10H30,0
2010-04-17,3,HOU,3,Chivas USA,0,reg,10H30,1
2010-05-01,5,HOU,3,Sporting KC,0,reg,10H30,1
2010-05-05,6,HOU,0,FC Dallas,1,reg,10H30,0

In [18]:
df = df[['away_team','win']]

In [19]:
crime_df = crime_df.iloc[2010:]  # data from 2010- 2017

In [20]:
crime_df = crime_df[['OffenseType','Premise','NumOffenses','Hour','weekday']]

In [21]:
df

                          away_team  win
full_date
2010-04-01           Real Salt Lake    1
2010-04-10                LA Galaxy    0
2010-04-17               Chivas USA    1
2010-05-01              Sporting KC    1
2010-05-05                FC Dallas    0
2010-05-22              D.C. United    1
2010-05-29             Philadelphia    0
2010-06-26                 Colorado    0
2010-07-10                 Columbus    0
2010-07-31             NY Red Bulls    0
2010-08-21                  Chicago    1
2010-09-05                 San Jose    0
2010-09-18               Toronto FC    0
2010-10-10              New England    0
2011-03-19             Philadelphia    0
2011-04-10                Vancouver    1
2011-04-17              New England    1
2011-04-29              D.C. United    1
2011-05-04                 Colorado    0
2011-05-21             NY Red Bulls    0
2011-05-28                FC Dallas    0
2011-06-11               Chivas USA    1
2011-06-18                 Columbus    0
2011-07-09               Toronto FC    1
2011-07-16              Sporting KC    0
2011-08-14                 Portland    1
2011-08-20           Real Salt Lake    1
2011-09-17                 San Jose    1
2011-10-01                  Chicago    0
2011-10-23                LA Galaxy    1
...                             ...  ...
2016-09-24                 Portland    1
2016-09-30                    NYCFC    0
2016-10-08                 Colorado    0
2016-10-16                LA Galaxy    0
2017-03-04                  Seattle    1
2017-03-11                 Columbus    1
2017-04-01             NY Red Bulls    1
2017-04-15                Minnesota    0
2017-04-22                 San Jose    1
2017-05-06                  Orlando    1
2017-05-12                Vancouver    1
2017-05-31           Real Salt Lake    1
2017-06-23                FC Dallas    0
2017-07-05                 Montreal    1
2017-07-29                 Portland    0
2017-08-12                 San Jose    1
2017-09-09                 Colorado    0
2017-09-27                LA Galaxy    0
2017-09-30                Minnesota    1
2017-10-11              Sporting KC    1
2017-10-22                  Chicago    1
2011-11-03       Philadelphia Union    1
2012-11-04     Sporting Kansas City    1
2012-11-11   Washington D.C. United    1
2013-10-31          Montreal Impact    1
2013-11-03       New York Red Bulls    0
2013-11-09     Sporting Kansas City    0
2017-10-26              Kansas City    1
2017-10-30         Portland Tumbers    0
2017-11-21                  Seattle    0

[137 rows x 2 columns]

## merge

In [22]:
merge = pd.merge(df,crime_df, how='inner', left_index=True, right_index=True)

In [23]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 2017-06-23 to 2017-11-21
Data columns (total 7 columns):
away_team      27 non-null object
win            27 non-null int64
OffenseType    27 non-null object
Premise        27 non-null object
NumOffenses    27 non-null float64
Hour           27 non-null float64
weekday        27 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 1.7+ KB

In [24]:
merge

,away_team,win,OffenseType,Premise,NumOffenses,Hour,weekday
2017-06-23,FC Dallas,0,Theft,Restaurant or Cafeteria,1.0,11.0,Friday
2017-06-23,FC Dallas,0,Theft,"Road, Street, or Sidewalk",1.0,6.0,Friday
2017-06-23,FC Dallas,0,Theft,Commercial Parking Lot or Garage,1.0,2.0,Friday
2017-06-23,FC Dallas,0,Theft,"Road, Street, or Sidewalk",1.0,2.0,Friday
2017-06-23,FC Dallas,0,Theft,Residence or House,1.0,16.0,Friday
2017-06-23,FC Dallas,0,Theft,Bar or Night Club Parking Lot,1.0,10.0,Friday
2017-07-05,Montreal,1,Theft,Miscellaneous Business (Non-Specific),1.0,8.0,Wednesday
2017-07-05,Montreal,1,Theft,Apartment Parking Lot,1.0,1.0,Wednesday
2017-07-29,Portland,0,Theft,Commercial Parking Lot or Garage,1.0,22.0,Saturday
2017-07-29,Portland,0,Theft,"Road, Street, or Sidewalk",1.0,10.0,Saturday
2017-07-29,Portland,0,Theft,"Road, Street, or Sidewalk",1.0,23.0,Saturday
2017-08-12,San Jose,1,Theft,"Road, Street, or Sidewalk",1.0,1.0,Saturday
2017-09-09,Colorado,0,Auto Theft,"Road, Street, or Sidewalk",1.0,13.0,Saturday
2017-09-27,LA Galaxy,0,Theft,"Road, Street, or Sidewalk",1.0,21.0,Wednesday
2017-09-27,LA Galaxy,0,Theft,Service or Gas Station,1.0,18.0,Wednesday
2017-09-30,Minnesota,1,Theft,Bar or Night Club Parking Lot,1.0,12.0,Saturday
2017-09-30,Minnesota,1,Theft,"Road, Street, or Sidewalk",1.0,13.0,Saturday
2017-09-30,Minnesota,1,Robbery,Other Parking Lot,1.0,22.0,Saturday
2017-09-30,Minnesota,1,Robbery,"Road, Street, or Sidewalk",1.0,22.0,Saturday
2017-09-30,Minnesota,1,Theft,Restaurant or Cafeteria,1.0,22.0,Saturday
2017-09-30,Minnesota,1,Theft,"Road, Street, or Sidewalk",1.0,22.0,Saturday
2017-10-11,Sporting KC,1,Theft,Bar or Night Club Parking Lot,1.0,0.0,Wednesday
2017-10-11,Sporting KC,1,Theft,"Road, Street, or Sidewalk",1.0,1.0,Wednesday
2017-10-11,Sporting KC,1,Theft,"Road, Street, or Sidewalk",1.0,11.0,Wednesday
2017-10-26,Kansas City,1,Theft,Other Parking Lot,1.0,23.0,Thursday
2017-10-30,Portland Tumbers,0,Theft,"Road, Street, or Sidewalk",1.0,23.0,Monday
2017-11-21,Seattle,0,Theft,Commercial Parking Lot or Garage,1.0,15.0,Tuesday