In [1]:
import pandas as pd
import numpy as np

In [2]:
ls data/sports_scores/

astros_1A10.csv*   Rice_10H80.csv*    Tex_15E40.csv*
dynamo_10H30.csv*  rockets_1A10.csv*  UH_10H50.csv*

In [3]:
ls data/crime_beats/

crime_10H30_10_17.csv*  crime_10H80_10_17.csv*  crime_1A10_10_17.csv*
crime_10H50_10_17.csv*  crime_15E40_10_17.csv*

In [4]:
games = 'data/sports_scores/rockets_1A10.csv'
crime = 'data/crime_beats/crime_1A10_10_17.csv'

## scores dataframes

In [5]:
df = pd.read_csv(games,index_col='Date').sort_index(ascending=True)

## win column
df['win'] =  np.where(df['Team_score'] > df['Opponent_score'],1,0)

# only oposing name and win boolean
df = df[['Opponent','win']]

# show

df.head()

                          Opponent  win
Date
2009-10-31  Portland Trail Blazers    1
2009-11-04      Los Angeles Lakers    0
2009-11-06   Oklahoma City Thunder    1
2009-11-11       Memphis Grizzlies    1
2009-11-17            Phoenix Suns    0

## crime dataframe

In [6]:
crime_df = pd.read_csv(crime,index_col='Date').sort_index(ascending=True)

## only crimes after 2009
crime_df = crime_df[crime_df.year >=2010]

# selectd columns
crime_df = crime_df[['OffenseType','Premise','NumOffenses','Hour','weekday']]

# count Offense type given date
date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()


## show
date_crimes.head()

            OffenseType
Date
2010-01-01           11
2010-01-02           11
2010-01-03            8
2010-01-04            6
2010-01-05            5

## Days dataframe

In [7]:
days = pd.date_range(start='01/01/2010', end='12/30/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)

days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]

## Merge days dataframe and  crimes

In [8]:
calendar_crimes = pd.merge(days,date_crimes,  left_index=True, right_index=True, how='left')
calendar_crimes.head()

            OffenseType
days
2010-01-01         11.0
2010-01-02         11.0
2010-01-03          8.0
2010-01-04          6.0
2010-01-05          5.0

## Merge calendar_crimes with scores

In [9]:
merge_data = pd.merge(calendar_crimes,df,  left_index=True, right_index=True, how='left')

# change column names
merge_data.columns = ['offenses','away_team','win']

merge_data.head()

            offenses away_team  win
days
2010-01-01      11.0       NaN  NaN
2010-01-02      11.0       NaN  NaN
2010-01-03       8.0       NaN  NaN
2010-01-04       6.0       NaN  NaN
2010-01-05       5.0       NaN  NaN

## Display non nans

In [10]:
merge_data.dropna(subset=['away_team', 'win'])

            offenses               away_team  win
days
2010-01-09      10.0         New York Knicks  1.0
2010-01-13       5.0  Minnesota Timberwolves  1.0
2010-01-15      11.0              Miami Heat  0.0
2010-01-18       8.0         Milwaukee Bucks  1.0
2010-01-23       6.0           Chicago Bulls  0.0
2010-01-25       8.0           Atlanta Hawks  0.0
2010-01-27       8.0          Denver Nuggets  0.0
2010-01-29       6.0  Portland Trail Blazers  1.0
2010-01-31       7.0            Phoenix Suns  0.0
2010-02-02       5.0   Golden State Warriors  1.0
2010-02-06       5.0      Philadelphia 76ers  0.0
2010-02-16       9.0               Utah Jazz  0.0
2010-02-20       5.0          Indiana Pacers  0.0
2010-02-24       8.0           Orlando Magic  0.0
2010-02-26      12.0       San Antonio Spurs  1.0
2010-03-01      10.0         Toronto Raptors  1.0
2010-03-03       3.0        Sacramento Kings  0.0
2010-03-13       7.0         New Jersey Nets  1.0
2010-03-15       4.0          Denver Nuggets  1.0
2010-03-17      10.0       Memphis Grizzlies  1.0
2010-03-19       6.0          Boston Celtics  0.0
2010-03-25       7.0    Los Angeles Clippers  0.0
2010-03-27       9.0      Los Angeles Lakers  0.0
2010-03-30       8.0      Washington Wizards  1.0
2010-04-07       6.0               Utah Jazz  1.0
2010-04-09       9.0       Charlotte Bobcats  1.0
2010-04-14       3.0     New Orleans Hornets  0.0
2010-10-30       9.0          Denver Nuggets  0.0
2010-11-03       3.0     New Orleans Hornets  0.0
2010-11-07       5.0  Minnesota Timberwolves  1.0
...              ...                     ...  ...
2017-01-05       8.0   Oklahoma City Thunder  1.0
2017-01-10       3.0       Charlotte Hornets  1.0
2017-01-13       4.0       Memphis Grizzlies  0.0
2017-01-18       4.0         Milwaukee Bucks  1.0
2017-01-20       7.0   Golden State Warriors  0.0
2017-01-31       2.0        Sacramento Kings  1.0
2017-02-02      10.0           Atlanta Hawks  0.0
2017-02-03      17.0           Chicago Bulls  1.0
2017-02-07       6.0           Orlando Magic  1.0
2017-02-11       7.0            Phoenix Suns  1.0
2017-02-15       1.0              Miami Heat  0.0
2017-02-25       7.0  Minnesota Timberwolves  1.0
2017-02-27       5.0          Indiana Pacers  0.0
2017-03-04       6.0       Memphis Grizzlies  1.0
2017-03-08       6.0               Utah Jazz  0.0
2017-03-12       3.0     Cleveland Cavaliers  1.0
2017-03-15       1.0      Los Angeles Lakers  1.0
2017-03-20       6.0          Denver Nuggets  1.0
2017-03-24       5.0    New Orleans Pelicans  1.0
2017-03-26       4.0   Oklahoma City Thunder  1.0
2017-03-28       8.0   Golden State Warriors  0.0
2017-04-05       1.0          Denver Nuggets  1.0
2017-04-07       6.0         Detroit Pistons  0.0
2017-04-12       3.0  Minnesota Timberwolves  1.0
2017-04-16       7.0   Oklahoma City Thunder  1.0
2017-04-19       9.0   Oklahoma City Thunder  1.0
2017-04-25       7.0   Oklahoma City Thunder  1.0
2017-05-05       4.0       San Antonio Spurs  0.0
2017-05-07       9.0       San Antonio Spurs  1.0
2017-05-11       5.0       San Antonio Spurs  0.0

[329 rows x 3 columns]

In [11]:
merge_data.to_csv('data/final/Rocketso1017_final.csv')