In [1]:
import pandas as pd
import numpy as np
import glob, os
import re
from io import StringIO

In [2]:
ls sports_data_raw/MLS/HOU/plo

HOU_11_plo.csv*  HOU_12_plo.csv*  HOU_13_plo.csv*  HOU_17_plo.csv*

In [3]:
plo_11 = 'sports_data_raw/MLS/HOU/plo/HOU_11_plo.csv'
plo_12 = 'sports_data_raw/MLS/HOU/plo/HOU_12_plo.csv'
plo_13 = 'sports_data_raw/MLS/HOU/plo/HOU_13_plo.csv'
plo_17 = 'sports_data_raw/MLS/HOU/plo/HOU_17_plo.csv'

In [4]:
col = ['day','date','home_team','result','away_team']

In [5]:
df11 = pd.read_csv(plo_11, names=col)
df12 = pd.read_csv(plo_12, names=col)
df13 = pd.read_csv(plo_13, names=col)
df17 = pd.read_csv(plo_17, names=col)

In [7]:
df17

   day   date         home_team result         away_team
0  Thu  10/26   Houston Dynamo     1-0       Kansas City
1  Mon  10/30   Houston Dynamo     0-0  Portland Tumbers
2  Sun   11/5  Portland Tumbers    1-2   Houston Dynamo
3  Tue  11/21   Houston Dynamo     0-2           Seattle
4  Thu  11/30           Seattle    3-0   Houston Dynamo

In [8]:
df11['full_date'] = df11.date + '/2011'

In [9]:
df12['full_date'] = df12.date + '/2012'

In [10]:
df13['full_date'] = df13.date + '/2013'

In [11]:
df17['full_date'] = df17.date + '/2017'

In [12]:
df11['full_date'] =  pd.to_datetime(df11['full_date'])  # convert full_date to datetime
df12['full_date'] =  pd.to_datetime(df12['full_date'])  # convert full_date to datetime
df13['full_date'] =  pd.to_datetime(df13['full_date'])  # convert full_date to datetime
df17['full_date'] =  pd.to_datetime(df17['full_date'])  # convert full_date to datetime

# join dataframes

In [13]:
frames = [df11,df12,df13,df17]
dynamo_plo = pd.concat(frames)

In [14]:
dynamo_plo

,day,date,home_team,result,away_team,full_date
0,Sun,10/30,Philadelphia Union,1-2,Houston Dynamo,2011-10-30
1,Thu,11/3,Houston Dynamo,1-0,Philadelphia Union,2011-11-03
2,Sun,11/6,Sporting Kansas City,0-2,Houston Dynamo,2011-11-06
3,Sun,11/20,Los Angeles Galaxy,1-0,Houston Dynamo,2011-11-20
0,Wed,10/31,Chicago Fire,1-2,Houston Dynamo,2012-10-31
1,Sun,11/4,Houston Dynamo,2-0,Sporting Kansas City,2012-11-04
2,Wed,11/7,Sporting Kansas City,1-0,Houston Dynamo,2012-11-07
3,Sun,11/11,Houston Dynamo,3-1,Washington D.C. United,2012-11-11
4,Sun,11/18,Washington D.C. United,1-1,Houston Dynamo,2012-11-18
5,Sat,12/1,Los Angeles Galaxy,3-1,Houston Dynamo,2012-12-01
0,Thu,10/31,Houston Dynamo,3-0,Montreal Impact,2013-10-31
1,Sun,11/3,Houston Dynamo,2-2,New York Red Bulls,2013-11-03
2,Wed,11/6,New York Red Bull,1-1,Houston Dynamo,2013-11-06
3,Sat,11/9,Houston Dynamo,0-0,Sporting Kansas City,2013-11-09
4,Sat,11/23,Sporting Kansas City,2-1,Houston Dynamo,2013-11-23
0,Thu,10/26,Houston Dynamo,1-0,Kansas City,2017-10-26
1,Mon,10/30,Houston Dynamo,0-0,Portland Tumbers,2017-10-30
2,Sun,11/5,Portland Tumbers,1-2,Houston Dynamo,2017-11-05
3,Tue,11/21,Houston Dynamo,0-2,Seattle,2017-11-21
4,Thu,11/30,Seattle,3-0,Houston Dynamo,2017-11-30

In [15]:
dynamo_plo['home_score']= dynamo_plo['result'].str.split('-').apply(lambda x: x[0])  # split score vals
dynamo_plo['away_score']= dynamo_plo['result'].str.split('-').apply(lambda x: x[1])  # split score vals

In [16]:
dynamo_plo

,day,date,home_team,result,away_team,full_date,home_score,away_score
0,Sun,10/30,Philadelphia Union,1-2,Houston Dynamo,2011-10-30,1,2
1,Thu,11/3,Houston Dynamo,1-0,Philadelphia Union,2011-11-03,1,0
2,Sun,11/6,Sporting Kansas City,0-2,Houston Dynamo,2011-11-06,0,2
3,Sun,11/20,Los Angeles Galaxy,1-0,Houston Dynamo,2011-11-20,1,0
0,Wed,10/31,Chicago Fire,1-2,Houston Dynamo,2012-10-31,1,2
1,Sun,11/4,Houston Dynamo,2-0,Sporting Kansas City,2012-11-04,2,0
2,Wed,11/7,Sporting Kansas City,1-0,Houston Dynamo,2012-11-07,1,0
3,Sun,11/11,Houston Dynamo,3-1,Washington D.C. United,2012-11-11,3,1
4,Sun,11/18,Washington D.C. United,1-1,Houston Dynamo,2012-11-18,1,1
5,Sat,12/1,Los Angeles Galaxy,3-1,Houston Dynamo,2012-12-01,3,1
0,Thu,10/31,Houston Dynamo,3-0,Montreal Impact,2013-10-31,3,0
1,Sun,11/3,Houston Dynamo,2-2,New York Red Bulls,2013-11-03,2,2
2,Wed,11/6,New York Red Bull,1-1,Houston Dynamo,2013-11-06,1,1
3,Sat,11/9,Houston Dynamo,0-0,Sporting Kansas City,2013-11-09,0,0
4,Sat,11/23,Sporting Kansas City,2-1,Houston Dynamo,2013-11-23,2,1
0,Thu,10/26,Houston Dynamo,1-0,Kansas City,2017-10-26,1,0
1,Mon,10/30,Houston Dynamo,0-0,Portland Tumbers,2017-10-30,0,0
2,Sun,11/5,Portland Tumbers,1-2,Houston Dynamo,2017-11-05,1,2
3,Tue,11/21,Houston Dynamo,0-2,Seattle,2017-11-21,0,2
4,Thu,11/30,Seattle,3-0,Houston Dynamo,2017-11-30,3,0

In [17]:
#df['winner'] = np.where(df['home_score'] > df['away_score'], df['home_team'], df['away_team']) 
dynamo_plo = dynamo_plo.set_index('full_date').sort_index(ascending=True)  # set full_date as index

In [18]:
dynamo_plo = dynamo_plo[['home_team','home_score','away_team','away_score']]

In [19]:
dynamo_plo

,home_team,home_score,away_team,away_score
full_date,,,,
2011-10-30,Philadelphia Union,1,Houston Dynamo,2
2011-11-03,Houston Dynamo,1,Philadelphia Union,0
2011-11-06,Sporting Kansas City,0,Houston Dynamo,2
2011-11-20,Los Angeles Galaxy,1,Houston Dynamo,0
2012-10-31,Chicago Fire,1,Houston Dynamo,2
2012-11-04,Houston Dynamo,2,Sporting Kansas City,0
2012-11-07,Sporting Kansas City,1,Houston Dynamo,0
2012-11-11,Houston Dynamo,3,Washington D.C. United,1
2012-11-18,Washington D.C. United,1,Houston Dynamo,1
2012-12-01,Los Angeles Galaxy,3,Houston Dynamo,1
2013-10-31,Houston Dynamo,3,Montreal Impact,0
2013-11-03,Houston Dynamo,2,New York Red Bulls,2
2013-11-06,New York Red Bull,1,Houston Dynamo,1
2013-11-09,Houston Dynamo,0,Sporting Kansas City,0
2013-11-23,Sporting Kansas City,2,Houston Dynamo,1
2017-10-26,Houston Dynamo,1,Kansas City,0
2017-10-30,Houston Dynamo,0,Portland Tumbers,0
2017-11-05,Portland Tumbers,1,Houston Dynamo,2
2017-11-21,Houston Dynamo,0,Seattle,2
2017-11-30,Seattle,3,Houston Dynamo,0

In [20]:
dynamo_plo['season'] = 'plo'

In [21]:
dynamo_plo

,home_team,home_score,away_team,away_score,season
full_date,,,,,
2011-10-30,Philadelphia Union,1,Houston Dynamo,2,plo
2011-11-03,Houston Dynamo,1,Philadelphia Union,0,plo
2011-11-06,Sporting Kansas City,0,Houston Dynamo,2,plo
2011-11-20,Los Angeles Galaxy,1,Houston Dynamo,0,plo
2012-10-31,Chicago Fire,1,Houston Dynamo,2,plo
2012-11-04,Houston Dynamo,2,Sporting Kansas City,0,plo
2012-11-07,Sporting Kansas City,1,Houston Dynamo,0,plo
2012-11-11,Houston Dynamo,3,Washington D.C. United,1,plo
2012-11-18,Washington D.C. United,1,Houston Dynamo,1,plo
2012-12-01,Los Angeles Galaxy,3,Houston Dynamo,1,plo
2013-10-31,Houston Dynamo,3,Montreal Impact,0,plo
2013-11-03,Houston Dynamo,2,New York Red Bulls,2,plo
2013-11-06,New York Red Bull,1,Houston Dynamo,1,plo
2013-11-09,Houston Dynamo,0,Sporting Kansas City,0,plo
2013-11-23,Sporting Kansas City,2,Houston Dynamo,1,plo
2017-10-26,Houston Dynamo,1,Kansas City,0,plo
2017-10-30,Houston Dynamo,0,Portland Tumbers,0,plo
2017-11-05,Portland Tumbers,1,Houston Dynamo,2,plo
2017-11-21,Houston Dynamo,0,Seattle,2,plo
2017-11-30,Seattle,3,Houston Dynamo,0,plo

In [24]:
dynamo_plo.to_csv('sports_data_clean/dynamo_10_17_plo.csv')

In [23]:
ls sports_data_clean/

astros_08_17_clean.csv*               nfl10clean.csv*
astros_10_17_clean.csv*               nfl10yearsfull.csv*
dynamo_08_17_clean.csv*               nfl17years_clean.csv*
dynamo_10_17_clean.csv*               nfl17years_PST_clean.csv*
hou_home_10_17_clean.csv*             rice_08_17_clean.csv*
hou_rockets_08_17_clean.csv*          tsu_08_17_clean.csv*
hou_rockets_10_17_reg_plo_clean.csv*  uh_08_17_clean.csv*
nfl_08_17_clean.csv*