In [1]:
import pandas as pd
import numpy as np

In [2]:
ls data/sports_scores/

astros_1A10.csv*   Rice_10H80.csv*    Tex_15E40.csv*
dynamo_10H30.csv*  rockets_1A10.csv*  UH_10H50.csv*

In [3]:
ls data/crime_beats/

crime_10H30_10_17.csv*  crime_10H80_10_17.csv*  crime_1A10_10_17.csv*
crime_10H50_10_17.csv*  crime_15E40_10_17.csv*

In [4]:
games = 'data/sports_scores/Rice_10H80.csv'

In [5]:
crime = 'data/crime_beats/crime_10H80_10_17.csv'

## scores dataframes

In [6]:
df = pd.read_csv(games,index_col='Date').sort_index(ascending=True)

## win column
df['win'] =  np.where(df['Pts'] > df['Opp'],1,0)

# only oposing name and win boolean
df = df[['Opponent','win']]

# show

df.head()

                Opponent  win
Date
2010-09-04         Texas    0
2010-09-18  Northwestern    0
2010-09-25        Baylor    0
2010-10-02           SMU    0
2010-10-16       Houston    1

## crime dataframe

In [7]:
crime_df = pd.read_csv(crime,index_col='Date').sort_index(ascending=True)

## only crimes after 2009
crime_df = crime_df[crime_df.year >=2010]

# selectd columns
crime_df = crime_df[['OffenseType','Premise','NumOffenses','Hour','weekday']]

# count Offense type given date
date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()


## show
date_crimes.head()

            OffenseType
Date
2010-01-03            4
2010-01-04            2
2010-01-05            3
2010-01-06            3
2010-01-07            1

## Days dataframe

In [8]:
days = pd.date_range(start='01/01/2010', end='12/30/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)

days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]

## Merge days dataframe and  crimes

In [9]:
calendar_crimes = pd.merge(days,date_crimes,  left_index=True, right_index=True, how='left')
calendar_crimes.head()

            OffenseType
days
2010-01-01          NaN
2010-01-02          NaN
2010-01-03          4.0
2010-01-04          2.0
2010-01-05          3.0

## Merge calendar_crimes with scores

In [12]:
merge_data = pd.merge(calendar_crimes,df,  left_index=True, right_index=True, how='left')

# change column names
merge_data.columns = ['offenses','away_team','win']

merge_data.head()

            offenses away_team  win
days
2010-01-01       NaN       NaN  NaN
2010-01-02       NaN       NaN  NaN
2010-01-03       4.0       NaN  NaN
2010-01-04       2.0       NaN  NaN
2010-01-05       3.0       NaN  NaN

## Display non nans

In [13]:
merge_data.dropna(subset=['away_team', 'win'])

            offenses              away_team  win
days
2010-09-04       1.0                  Texas  0.0
2010-09-18       NaN           Northwestern  0.0
2010-09-25       1.0                 Baylor  0.0
2010-10-02       3.0                    SMU  0.0
2010-10-16       1.0                Houston  1.0
2010-11-20       2.0          East Carolina  1.0
2010-11-27       1.0                    UAB  1.0
2011-09-10       4.0                 Purdue  1.0
2011-10-08       4.0                Memphis  1.0
2011-10-22       1.0                  Tulsa  0.0
2011-11-05       2.0                   UTEP  1.0
2011-11-19       1.0                 Tulane  1.0
2012-08-30       2.0                   UCLA  0.0
2012-09-22       1.0               Marshall  0.0
2012-10-13       2.0                   UTSA  1.0
2012-10-27       2.0   Southern Mississippi  1.0
2012-11-17       3.0                    SMU  1.0
2013-09-14       1.0                 Kansas  1.0
2013-09-28       3.0       Florida Atlantic  1.0
2013-10-26       2.0                   UTEP  1.0
2013-11-16       1.0         Louisiana Tech  1.0
2013-11-30       4.0                 Tulane  1.0
2013-12-07       NaN               Marshall  1.0
2014-09-20       2.0           Old Dominion  0.0
2014-10-04       2.0                 Hawaii  1.0
2014-10-25       2.0            North Texas  1.0
2014-11-08       1.0                   UTSA  1.0
2014-11-21       3.0                   UTEP  1.0
2015-09-05       1.0                 Wagner  1.0
2015-10-03       NaN       Western Kentucky  0.0
2015-10-24       3.0                   Army  1.0
2015-10-30       3.0         Louisiana Tech  0.0
2015-11-14       2.0   Southern Mississippi  0.0
2015-11-28       2.0              Charlotte  1.0
2016-09-16       NaN                 Baylor  0.0
2016-09-24       NaN            North Texas  0.0
2016-10-15       4.0                   UTSA  0.0
2016-10-22       2.0       Prairie View A&M  1.0
2016-11-05       2.0       Florida Atlantic  0.0
2016-11-19       3.0                   UTEP  1.0
2017-09-23       1.0  Florida International  0.0
2017-10-07       1.0                   Army  0.0
2017-10-28       NaN         Louisiana Tech  0.0
2017-11-11       2.0   Southern Mississippi  0.0
2017-11-25       1.0            North Texas  0.0

In [17]:
merge_data.to_csv('data/final/rice1017_final.csv')

In [16]:
ls data

crime_beats/  final/  HPB.geojson*  sports_scores/  stadiums.geojson*