In [2]:
import pandas as pd
import numpy as np

In [3]:
ls data/sports_scores/

astros_1A10.csv*   Rice_10H80.csv*    Tex_15E40.csv*
dynamo_10H30.csv*  rockets_1A10.csv*  UH_10H50.csv*

In [4]:
ls data/crime_beats/

crime_10H30_10_17.csv*  crime_10H80_10_17.csv*  crime_1A10_10_17.csv*
crime_10H50_10_17.csv*  crime_15E40_10_17.csv*

In [5]:
games = 'data/sports_scores/UH_10H50.csv'

crime = 'data/crime_beats/crime_10H50_10_17.csv'

## scores dataframes

In [6]:
df = pd.read_csv(games,index_col='Date').sort_index(ascending=True)

## win column
df['win'] =  np.where(df['Pts'] > df['Opp'],1,0)

# only oposing name and win boolean
df = df[['Opponent','win']]

# show

df.head()

                     Opponent  win
Date
2010-09-04        Texas State    1
2010-09-10               UTEP    1
2010-09-25             Tulane    1
2010-10-09  Mississippi State    0
2010-11-05                UCF    0

## crime dataframe

In [7]:
crime_df = pd.read_csv(crime,index_col='Date').sort_index(ascending=True)

## only crimes after 2009
crime_df = crime_df[crime_df.year >=2010]

# selectd columns
crime_df = crime_df[['OffenseType','Premise','NumOffenses','Hour','weekday']]

# count Offense type given date
date_crimes = crime_df.groupby(crime_df.index)['OffenseType',].count()


## show
date_crimes.head()

            OffenseType
Date
2010-01-01            5
2010-01-03            1
2010-01-04            6
2010-01-05            1
2010-01-06            2

## Days dataframe

In [8]:
days = pd.date_range(start='01/01/2010', end='12/30/2017')
days = pd.DataFrame(days)

days.columns = ['days']
days = days.set_index('days').sort_index(ascending=True)

days.head()

Empty DataFrame
Columns: []
Index: [2010-01-01 00:00:00, 2010-01-02 00:00:00, 2010-01-03 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00]

## Merge days dataframe and  crimes

In [9]:
calendar_crimes = pd.merge(days,date_crimes,  left_index=True, right_index=True, how='left')
calendar_crimes.head()

            OffenseType
days
2010-01-01          5.0
2010-01-02          NaN
2010-01-03          1.0
2010-01-04          6.0
2010-01-05          1.0

## Merge calendar_crimes with scores

In [10]:
merge_data = pd.merge(calendar_crimes,df,  left_index=True, right_index=True, how='left')

# change column names
merge_data.columns = ['offenses','away_team','win']

merge_data.head()

            offenses away_team  win
days
2010-01-01       5.0       NaN  NaN
2010-01-02       NaN       NaN  NaN
2010-01-03       1.0       NaN  NaN
2010-01-04       6.0       NaN  NaN
2010-01-05       1.0       NaN  NaN

## Display non nans

In [11]:
merge_data.dropna(subset=['away_team', 'win'])

            offenses             away_team  win
days
2010-09-04       2.0           Texas State  1.0
2010-09-10       6.0                  UTEP  1.0
2010-09-25       5.0                Tulane  1.0
2010-10-09       3.0     Mississippi State  0.0
2010-11-05       5.0                   UCF  0.0
2010-11-13       9.0                 Tulsa  0.0
2011-09-03       3.0                  UCLA  1.0
2011-09-24       4.0         Georgia State  1.0
2011-10-08       3.0         East Carolina  1.0
2011-10-22       3.0              Marshall  1.0
2011-10-27       1.0                  Rice  1.0
2011-11-19       3.0                   SMU  1.0
2011-12-03      12.0  Southern Mississippi  0.0
2012-09-01       4.0           Texas State  0.0
2012-09-08       5.0        Louisiana Tech  0.0
2012-10-06       1.0           North Texas  1.0
2012-10-13       4.0                   UAB  1.0
2012-10-27       NaN                  UTEP  1.0
2012-11-10       NaN                 Tulsa  0.0
2012-11-24       2.0                Tulane  1.0
2013-08-30       3.0              Southern  1.0
2013-10-31       3.0         South Florida  1.0
2014-08-29      11.0                  UTSA  0.0
2014-09-06       4.0       Grambling State  1.0
2014-09-20       1.0      Nevada-Las Vegas  1.0
2014-10-02       5.0                   UCF  0.0
2014-10-17       2.0                Temple  1.0
2014-11-08       4.0                Tulane  0.0
2014-11-22       2.0                 Tulsa  1.0
2015-09-05       3.0        Tennessee Tech  1.0
2015-09-26       3.0           Texas State  1.0
2015-10-08       4.0                   SMU  1.0
2015-10-31       NaN            Vanderbilt  1.0
2015-11-07       2.0            Cincinnati  1.0
2015-11-14       5.0               Memphis  1.0
2015-11-27       3.0                  Navy  1.0
2015-12-05       4.0                Temple  1.0
2016-09-10       2.0                 Lamar  1.0
2016-09-29       8.0           Connecticut  1.0
2016-10-15       5.0                 Tulsa  1.0
2016-10-29       5.0                   UCF  1.0
2016-11-12       4.0                Tulane  1.0
2016-11-17      14.0            Louisville  1.0
2017-09-16       6.0                  Rice  1.0
2017-09-23       5.0            Texas Tech  0.0
2017-10-07       6.0                   SMU  1.0
2017-10-19       5.0               Memphis  0.0
2017-11-04       5.0         East Carolina  1.0
2017-11-24       1.0                  Navy  1.0

In [12]:
merge_data.to_csv('data/final/UH1017_final.csv')