In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import googlemaps
import gmaps
API_KEY = 'AIzaSyC-mLUTfYy6RwWdhnXQ5y4bYnPJLl_NRE0' 
gmaps_dev = googlemaps.Client(key=API_KEY) ## 
gmaps.configure(api_key=API_KEY) #

In [2]:
ls crime_data/2016

apr16.xls*  dec16.xls*  jan16.xls*  jun16.xls*  may16.xls*  oct16.xls*
aug16.xls*  feb16.xls*  jul16.xls*  mar16.xls*  nov16.xls*  sep16.xls*

In [3]:
# ImportError: Install xlrd >= 0.9.0 for Excel support

df = pd.read_excel('crime_data/2016/jan16.xls', index_col='Date')
df.head()

,Hour,Offense Type,Beat,Premise,BlockRange,StreetName,Type,Suffix,# offenses
Date,,,,,,,,,
2016-01-22,11,Robbery,10H10,Convenience Store,5200-5299,CANAL,ST,-,1
2016-01-22,16,Theft,10H10,Residence or House,200-299,STILES,ST,N,1
2016-01-23,20,Aggravated Assault,10H10,"Road, Street, or Sidewalk",100-199,YORK,-,N,1
2016-01-24,22,Rape,10H10,Apartment Parking Lot,1900-1999,RUNNELS,-,-,1
2016-01-26,22,Theft,10H10,Commercial Parking Lot or Garage,2000-2099,W. GRAY,-,-,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10469 entries, 2016-01-22 to 2015-12-31
Data columns (total 9 columns):
Hour            10469 non-null int64
Offense Type    10469 non-null object
Beat            10469 non-null object
Premise         10351 non-null object
BlockRange      10469 non-null object
StreetName      10469 non-null object
Type            10469 non-null object
Suffix          10469 non-null object
# offenses      10469 non-null int64
dtypes: int64(2), object(7)
memory usage: 817.9+ KB

## Find all the beats around houston

In [5]:
df['Beat'].unique()

array(['10H10', '10H20', '10H30', '10H40', '10H50', '10H60', '10H70',
       '10H80', '11H10', '11H20', '11H30', '11H40', '11H50', '12D10',
       '12D20', '12D30', '12D40', '12D50', '12D60', '12D70', '13D10',
       '13D20', '13D30', '13D40', '14D10', '14D20', '14D30', '14D40',
       '14D50', '15E10', '15E20', '15E30', '15E40', '16E10', '16E20',
       '16E30', '16E40', '17E10', '17E20', '17E30', '17E40', '18F10',
       '18F20', '18F30', '18F40', '18F50', '18F60', '19G10', '19G20',
       '19G30', '19G40', '19G50', '1A10', '1A20', '1A30', '1A40', '1A50',
       '20G10', '20G20', '20G30', '20G40', '20G50', '20G60', '20G70',
       '20G80', '21I10', '21I30', '21I40', '21I50', '21I60', '23J50',
       '24C10', '24C20', '24C30', '24C40', '24C50', '24C60', '2A10',
       '2A20', '2A30', '2A40', '2A50', '2A60', '3B10', '3B30', '3B40',
       '3B50', '4F10', '4F20', '4F30', '5F10', '5F20', '5F30', '5F40',
       '6B10', '6B20', '6B30', '6B40', '6B50', '6B60', '7C10', '7C20',
       '7C30', '7C40', '7C50', '8C10', '8C20', '8C30', '8C40', '8C50',
       '8C60', '9C10', '9C20', '9C30', '9C40', 'UNK'], dtype=object)

In [ ]:

beat_plot = df.groupby(['Beat'])['Beat'].count().sort_values( ascending=False)
beat_plot = beat_plot.head(10)
beat_plot.plot(kind='barh')

## beat 15E40 
reliant stadium

In [6]:
reliant = df[df['Beat'] =='15E40']

reliant.head()

,Hour,Offense Type,Beat,Premise,BlockRange,StreetName,Type,Suffix,# offenses
Date,,,,,,,,,
2016-01-24,7,Theft,15E40,"Stadium, Sports Arena, Race Track",8400-8499,KIRBY,DR,-,1
2016-01-23,22,Rape,15E40,Apartment,8200-8299,CAMBRIDGE,ST,-,1
2016-01-24,12,Robbery,15E40,Miscellaneous Business (Non-Specific),9400-9499,MAIN,ST,-,1
2016-01-24,16,Theft,15E40,Apartment,2100-2199,HOLLY HALL,-,-,1
2016-01-24,20,Theft,15E40,"Stadium, Sports Arena, Race Track",8400-8499,KIRBY,DR,-,1

In [7]:
reliant.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 166 entries, 2016-01-24 to 2015-12-31
Data columns (total 9 columns):
Hour            166 non-null int64
Offense Type    166 non-null object
Beat            166 non-null object
Premise         162 non-null object
BlockRange      166 non-null object
StreetName      166 non-null object
Type            166 non-null object
Suffix          166 non-null object
# offenses      166 non-null int64
dtypes: int64(2), object(7)
memory usage: 13.0+ KB

## create new df with specific data

In [8]:
rel = reliant[['Hour','Offense Type','Premise','BlockRange','StreetName','# offenses']]

rel.head()

,Hour,Offense Type,Premise,BlockRange,StreetName,# offenses
Date,,,,,,
2016-01-24,7,Theft,"Stadium, Sports Arena, Race Track",8400-8499,KIRBY,1
2016-01-23,22,Rape,Apartment,8200-8299,CAMBRIDGE,1
2016-01-24,12,Robbery,Miscellaneous Business (Non-Specific),9400-9499,MAIN,1
2016-01-24,16,Theft,Apartment,2100-2199,HOLLY HALL,1
2016-01-24,20,Theft,"Stadium, Sports Arena, Race Track",8400-8499,KIRBY,1

In [9]:
rel.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 166 entries, 2016-01-24 to 2015-12-31
Data columns (total 6 columns):
Hour            166 non-null int64
Offense Type    166 non-null object
Premise         162 non-null object
BlockRange      166 non-null object
StreetName      166 non-null object
# offenses      166 non-null int64
dtypes: int64(2), object(4)
memory usage: 9.1+ KB

In [ ]:
rel['Offense Type'].unique()

In [ ]:
rel_plot = rel.groupby(['Offense Type'])['Offense Type'].count().sort_values( ascending=False)
#rel_plot = rel_plot.head(10)
rel_plot.plot(kind='barh')

In [ ]:
rel['Premise'].unique()

In [ ]:
rel.info()

## Find nan values

In [10]:
rel[rel['Premise'].isnull()]

            Hour Offense Type Premise BlockRange StreetName  # offenses
Date
2016-01-10     0     Burglary     NaN  7600-7699     FANNIN           1
2016-01-02    20   Auto Theft     NaN  2600-2699       LOOP           1
2016-01-18     3        Theft     NaN  1800-1899   EL PASEO           1
2016-01-13    23        Theft     NaN  9200-9299       MAIN           1

## working with specific dates

In [ ]:
rel.loc['2016-01-01']

In [ ]:
rel['Offense Type'].unique()

# only show sundays!

In [11]:
rel_sunday = rel[rel.index.dayofweek == 6]

rel_sunday

,Hour,Offense Type,Premise,BlockRange,StreetName,# offenses
Date,,,,,,
2016-01-24,7,Theft,"Stadium, Sports Arena, Race Track",8400-8499,KIRBY,1
2016-01-24,12,Robbery,Miscellaneous Business (Non-Specific),9400-9499,MAIN,1
2016-01-24,16,Theft,Apartment,2100-2199,HOLLY HALL,1
2016-01-24,20,Theft,"Stadium, Sports Arena, Race Track",8400-8499,KIRBY,1
2016-01-31,21,Theft,Grocery Store or Supermarket Parking Lot,7700-7799,KIRBY,1
2016-01-31,9,Theft,Drug Store or Medical Supply,7900-7999,MAIN,1
2016-01-31,19,Theft,Apartment,7600-7699,PHOENIX,1
2016-01-31,17,Theft,Department or Discount Store,9700-9799,BUFFALO SPEEDWAY,1
2016-01-31,16,Burglary,Apartment,2200-2299,HOLLY HALL,1
2016-01-10,16,Theft,Department or Discount Store,9400-9499,MAIN,1
2016-01-10,17,Theft,"Road, Street, or Sidewalk",2400-2499,LOOP,1
2016-01-10,17,Theft,Grocery Store or Supermarket,7700-7799,KIRBY,1
2016-01-10,11,Theft,Apartment,2800-2899,BARTELL,1
2016-01-10,0,Burglary,NaN,7600-7699,FANNIN,1
2016-01-10,6,Theft,Service or Gas Station,9800-9899,MAIN,1
2016-01-03,16,Auto Theft,Other Parking Lot,8500-8599,KNIGHT,1
2016-01-03,12,Theft,"Stadium, Sports Arena, Race Track",UNK,RELIANT,1
2016-01-03,15,Auto Theft,Park and Ride Terminal,1600-1699,BELLFORT,1
2016-01-03,14,Auto Theft,"Road, Street, or Sidewalk",8900-8999,KIRBY,1
2016-01-03,9,Auto Theft,"Hotel, Motel, Inn, Etc.",1300-1399,LA CONCHA,1
2016-01-17,14,Theft,Department or Discount Store,8500-8599,MAIN,1
2016-01-17,18,Theft,Department or Discount Store,8500-8599,MAIN,1
2016-01-17,1,Theft,Bar or Night Club Parking Lot,9200-9299,MAIN,1
2016-01-17,2,Theft,Construction Site,3100-3199,FELDMAN,1

## cleanup the address

In [172]:
rel_sunday.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24 entries, 2016-01-24 to 2016-01-17
Data columns (total 8 columns):
Hour            24 non-null int64
Offense Type    24 non-null object
Premise         23 non-null object
BlockRange      24 non-null object
StreetName      24 non-null object
# offenses      24 non-null int64
add             24 non-null object
gps             24 non-null object
dtypes: int64(2), object(6)
memory usage: 2.3+ KB

In [29]:
rel_sunday[['BlockRange', 'StreetName']].apply(lambda x: ' '.join(x), axis=1)

Date
2016-01-24               8400-8499 KIRBY
2016-01-24                9400-9499 MAIN
2016-01-24          2100-2199 HOLLY HALL
2016-01-24               8400-8499 KIRBY
2016-01-31               7700-7799 KIRBY
2016-01-31                7900-7999 MAIN
2016-01-31             7600-7699 PHOENIX
2016-01-31    9700-9799 BUFFALO SPEEDWAY
2016-01-31          2200-2299 HOLLY HALL
2016-01-10                9400-9499 MAIN
2016-01-10                2400-2499 LOOP
2016-01-10               7700-7799 KIRBY
2016-01-10             2800-2899 BARTELL
2016-01-10              7600-7699 FANNIN
2016-01-10                9800-9899 MAIN
2016-01-03              8500-8599 KNIGHT
2016-01-03                   UNK RELIANT
2016-01-03            1600-1699 BELLFORT
2016-01-03               8900-8999 KIRBY
2016-01-03           1300-1399 LA CONCHA
2016-01-17                8500-8599 MAIN
2016-01-17                8500-8599 MAIN
2016-01-17                9200-9299 MAIN
2016-01-17             3100-3199 FELDMAN
dtype: object

In [13]:
geocode_result = gmaps_dev.geocode('8900-8999 KIRBY, Houston, TX')

In [14]:
import pprint  # "pretty-print" arbitrary Python data structures
pprint.pprint(geocode_result)

[{'address_components': [{'long_name': '8900',
                          'short_name': '8900',
                          'types': ['street_number']},
                         {'long_name': 'Kirby Drive',
                          'short_name': 'Kirby Dr',
                          'types': ['route']},
                         {'long_name': 'Southwest Houston',
                          'short_name': 'Southwest Houston',
                          'types': ['neighborhood', 'political']},
                         {'long_name': 'Houston',
                          'short_name': 'Houston',
                          'types': ['locality', 'political']},
                         {'long_name': 'Harris County',
                          'short_name': 'Harris County',
                          'types': ['administrative_area_level_2',
                                    'political']},
                         {'long_name': 'Texas',
                          'short_name': 'TX',
                          'types': ['administrative_area_level_1',
                                    'political']},
                         {'long_name': 'United States',
                          'short_name': 'US',
                          'types': ['country', 'political']},
                         {'long_name': '77054',
                          'short_name': '77054',
                          'types': ['postal_code']}],
  'formatted_address': '8900 Kirby Dr, Houston, TX 77054, USA',
  'geometry': {'location': {'lat': 29.6743803, 'lng': -95.4127372},
               'location_type': 'ROOFTOP',
               'viewport': {'northeast': {'lat': 29.6757292802915,
                                          'lng': -95.4113882197085},
                            'southwest': {'lat': 29.6730313197085,
                                          'lng': -95.4140861802915}}},
  'partial_match': True,
  'place_id': 'ChIJ7SQfmaHqQIYROO0Ye9nsNh0',
  'types': ['street_address']}]

In [15]:
type(geocode_result)

list

In [16]:
geocode_result[0]['geometry']['location']

{'lat': 29.6743803, 'lng': -95.4127372}

In [17]:
add = tuple(geocode_result[0]['geometry']['location'].values())

In [18]:
type(add)

tuple

In [19]:
add = [add]

In [20]:
add

[(29.6743803, -95.4127372)]

In [21]:
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [22]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

In [23]:
fig =gmaps.figure()
marker = gmaps.marker_layer(add)
fig.add_layer(marker)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
rel_sunday[]


```python
import gmaps.datasets

gmaps.datasets.load_dataset("taxi_rides")

'''
[(37.782551, -122.445368),
 (37.782745, -122.444586),
 (37.782842, -122.443688),
 (37.782919, -122.442815),
 (37.782992, -122.442112),
 (37.7831, -122.441461),
 (37.783206, -122.440829),
 (37.783273, -122.440324),
 (37.783316, -122.440023),
...

'''

```

In [57]:
new_add = rel_sunday[['BlockRange', 'StreetName']].apply(lambda x: ' '.join(x), axis=1)
new_add

Date
2016-01-24               8400-8499 KIRBY
2016-01-24                9400-9499 MAIN
2016-01-24          2100-2199 HOLLY HALL
2016-01-24               8400-8499 KIRBY
2016-01-31               7700-7799 KIRBY
2016-01-31                7900-7999 MAIN
2016-01-31             7600-7699 PHOENIX
2016-01-31    9700-9799 BUFFALO SPEEDWAY
2016-01-31          2200-2299 HOLLY HALL
2016-01-10                9400-9499 MAIN
2016-01-10                2400-2499 LOOP
2016-01-10               7700-7799 KIRBY
2016-01-10             2800-2899 BARTELL
2016-01-10              7600-7699 FANNIN
2016-01-10                9800-9899 MAIN
2016-01-03              8500-8599 KNIGHT
2016-01-03                   UNK RELIANT
2016-01-03            1600-1699 BELLFORT
2016-01-03               8900-8999 KIRBY
2016-01-03           1300-1399 LA CONCHA
2016-01-17                8500-8599 MAIN
2016-01-17                8500-8599 MAIN
2016-01-17                9200-9299 MAIN
2016-01-17             3100-3199 FELDMAN
dtype: object

In [81]:
def get_loc(add):
    cor = []
    for i in add:
        gps = gmaps_dev.geocode('{}, Houston, TX'.format(i))
        #print(tuple(gps[0]['geometry']['location'].values()))
        result = tuple(gps[0]['geometry']['location'].values())
        #cor.append(tuple(gps[int(i)]['geometry']['location'].values())
        cor.append(result)
    return cor

In [83]:
gps_loco = get_loc(new_add.values)

In [84]:
gps_loco

[(29.6847027, -95.4109208),
 (29.6812612, -95.42302099999999),
 (29.685262, -95.4000069),
 (29.6847027, -95.4109208),
 (29.697703, -95.4182209),
 (29.6947179, -95.4153736),
 (29.6995311, -95.4036141),
 (29.681094, -95.4271278),
 (29.68423499999999, -95.39888300000001),
 (29.6812612, -95.42302099999999),
 (29.679237, -95.415899),
 (29.697703, -95.4182209),
 (29.680411, -95.419178),
 (29.6929462, -95.401127),
 (29.679201, -95.4277652),
 (29.6822688, -95.3999578),
 (29.7474286, -95.47368519999999),
 (29.667682, -95.392416),
 (29.6743803, -95.4127372),
 (29.6907704, -95.4125396),
 (29.6916999, -95.4172361),
 (29.6916999, -95.4172361),
 (29.684986, -95.422257),
 (29.7149951, -95.39743299999999)]

In [85]:
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(gps_loco))
fig

Figure(layout=FigureLayout(height='420px'))

In [94]:
fig = gmaps.figure()
layer = gmaps.symbol_layer(gps_loco, fill_color="green", stroke_color="Red", scale=5)
#markers = gmaps.marker_layer(layer)
#print(layer)
fig.add_layer(layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [99]:
df['Offense Type'].value_counts(dropna=False)

Theft                 6087
Burglary              1501
Auto Theft            1057
Robbery                891
Aggravated Assault     794
Rape                   120
Murder                  19
Name: Offense Type, dtype: int64

In [101]:
rel_sunday

,Hour,Offense Type,Premise,BlockRange,StreetName,# offenses
Date,,,,,,
2016-01-24,7,Theft,"Stadium, Sports Arena, Race Track",8400-8499,KIRBY,1
2016-01-24,12,Robbery,Miscellaneous Business (Non-Specific),9400-9499,MAIN,1
2016-01-24,16,Theft,Apartment,2100-2199,HOLLY HALL,1
2016-01-24,20,Theft,"Stadium, Sports Arena, Race Track",8400-8499,KIRBY,1
2016-01-31,21,Theft,Grocery Store or Supermarket Parking Lot,7700-7799,KIRBY,1
2016-01-31,9,Theft,Drug Store or Medical Supply,7900-7999,MAIN,1
2016-01-31,19,Theft,Apartment,7600-7699,PHOENIX,1
2016-01-31,17,Theft,Department or Discount Store,9700-9799,BUFFALO SPEEDWAY,1
2016-01-31,16,Burglary,Apartment,2200-2299,HOLLY HALL,1
2016-01-10,16,Theft,Department or Discount Store,9400-9499,MAIN,1
2016-01-10,17,Theft,"Road, Street, or Sidewalk",2400-2499,LOOP,1
2016-01-10,17,Theft,Grocery Store or Supermarket,7700-7799,KIRBY,1
2016-01-10,11,Theft,Apartment,2800-2899,BARTELL,1
2016-01-10,0,Burglary,NaN,7600-7699,FANNIN,1
2016-01-10,6,Theft,Service or Gas Station,9800-9899,MAIN,1
2016-01-03,16,Auto Theft,Other Parking Lot,8500-8599,KNIGHT,1
2016-01-03,12,Theft,"Stadium, Sports Arena, Race Track",UNK,RELIANT,1
2016-01-03,15,Auto Theft,Park and Ride Terminal,1600-1699,BELLFORT,1
2016-01-03,14,Auto Theft,"Road, Street, or Sidewalk",8900-8999,KIRBY,1
2016-01-03,9,Auto Theft,"Hotel, Motel, Inn, Etc.",1300-1399,LA CONCHA,1
2016-01-17,14,Theft,Department or Discount Store,8500-8599,MAIN,1
2016-01-17,18,Theft,Department or Discount Store,8500-8599,MAIN,1
2016-01-17,1,Theft,Bar or Night Club Parking Lot,9200-9299,MAIN,1
2016-01-17,2,Theft,Construction Site,3100-3199,FELDMAN,1

In [103]:
rel_sunday['add'] = rel_sunday[['BlockRange', 'StreetName']].apply(lambda x: ' '.join(x), axis=1)

rel_sunday.head()

/home/salas/miniconda3/envs/sbc/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Hour,Offense Type,Premise,BlockRange,StreetName,# offenses,add
Date,,,,,,,
2016-01-24,7,Theft,"Stadium, Sports Arena, Race Track",8400-8499,KIRBY,1,8400-8499 KIRBY
2016-01-24,12,Robbery,Miscellaneous Business (Non-Specific),9400-9499,MAIN,1,9400-9499 MAIN
2016-01-24,16,Theft,Apartment,2100-2199,HOLLY HALL,1,2100-2199 HOLLY HALL
2016-01-24,20,Theft,"Stadium, Sports Arena, Race Track",8400-8499,KIRBY,1,8400-8499 KIRBY
2016-01-31,21,Theft,Grocery Store or Supermarket Parking Lot,7700-7799,KIRBY,1,7700-7799 KIRBY

In [162]:
def get_loc(row):
    gps = gmaps_dev.geocode('{}, Houston, TX'.format(row))
    result = tuple(gps[0]['geometry']['location'].values())
    return result

In [ ]:
def get_loc(row):
    gps = gmaps_dev.geocode('{}, Houston, TX'.format(row))
    result = tuple(gps[0]['geometry']['location'].values())
    return result

In [164]:
rel_sunday['gps'] = rel_sunday['add'].apply(get_loc)

/home/salas/miniconda3/envs/sbc/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [165]:
rel_sunday

,Hour,Offense Type,Premise,BlockRange,StreetName,# offenses,add,gps
Date,,,,,,,,
2016-01-24,7,Theft,"Stadium, Sports Arena, Race Track",8400-8499,KIRBY,1,8400-8499 KIRBY,"(29.6847027, -95.4109208)"
2016-01-24,12,Robbery,Miscellaneous Business (Non-Specific),9400-9499,MAIN,1,9400-9499 MAIN,"(29.6812612, -95.42302099999999)"
2016-01-24,16,Theft,Apartment,2100-2199,HOLLY HALL,1,2100-2199 HOLLY HALL,"(29.685262, -95.4000069)"
2016-01-24,20,Theft,"Stadium, Sports Arena, Race Track",8400-8499,KIRBY,1,8400-8499 KIRBY,"(29.6847027, -95.4109208)"
2016-01-31,21,Theft,Grocery Store or Supermarket Parking Lot,7700-7799,KIRBY,1,7700-7799 KIRBY,"(29.697703, -95.4182209)"
2016-01-31,9,Theft,Drug Store or Medical Supply,7900-7999,MAIN,1,7900-7999 MAIN,"(29.6947179, -95.4153736)"
2016-01-31,19,Theft,Apartment,7600-7699,PHOENIX,1,7600-7699 PHOENIX,"(29.6995311, -95.4036141)"
2016-01-31,17,Theft,Department or Discount Store,9700-9799,BUFFALO SPEEDWAY,1,9700-9799 BUFFALO SPEEDWAY,"(29.681094, -95.4271278)"
2016-01-31,16,Burglary,Apartment,2200-2299,HOLLY HALL,1,2200-2299 HOLLY HALL,"(29.68423499999999, -95.39888300000001)"
2016-01-10,16,Theft,Department or Discount Store,9400-9499,MAIN,1,9400-9499 MAIN,"(29.6812612, -95.42302099999999)"
2016-01-10,17,Theft,"Road, Street, or Sidewalk",2400-2499,LOOP,1,2400-2499 LOOP,"(29.679237, -95.415899)"
2016-01-10,17,Theft,Grocery Store or Supermarket,7700-7799,KIRBY,1,7700-7799 KIRBY,"(29.697703, -95.4182209)"
2016-01-10,11,Theft,Apartment,2800-2899,BARTELL,1,2800-2899 BARTELL,"(29.680411, -95.419178)"
2016-01-10,0,Burglary,NaN,7600-7699,FANNIN,1,7600-7699 FANNIN,"(29.6929462, -95.401127)"
2016-01-10,6,Theft,Service or Gas Station,9800-9899,MAIN,1,9800-9899 MAIN,"(29.6788827, -95.4267682)"
2016-01-03,16,Auto Theft,Other Parking Lot,8500-8599,KNIGHT,1,8500-8599 KNIGHT,"(29.6822688, -95.3999578)"
2016-01-03,12,Theft,"Stadium, Sports Arena, Race Track",UNK,RELIANT,1,UNK RELIANT,"(29.7474286, -95.47368519999999)"
2016-01-03,15,Auto Theft,Park and Ride Terminal,1600-1699,BELLFORT,1,1600-1699 BELLFORT,"(29.667682, -95.392416)"
2016-01-03,14,Auto Theft,"Road, Street, or Sidewalk",8900-8999,KIRBY,1,8900-8999 KIRBY,"(29.6743803, -95.4127372)"
2016-01-03,9,Auto Theft,"Hotel, Motel, Inn, Etc.",1300-1399,LA CONCHA,1,1300-1399 LA CONCHA,"(29.6907704, -95.4125396)"
2016-01-17,14,Theft,Department or Discount Store,8500-8599,MAIN,1,8500-8599 MAIN,"(29.6916999, -95.4172361)"
2016-01-17,18,Theft,Department or Discount Store,8500-8599,MAIN,1,8500-8599 MAIN,"(29.6916999, -95.4172361)"
2016-01-17,1,Theft,Bar or Night Club Parking Lot,9200-9299,MAIN,1,9200-9299 MAIN,"(29.684986, -95.422257)"
2016-01-17,2,Theft,Construction Site,3100-3199,FELDMAN,1,3100-3199 FELDMAN,"(29.7149951, -95.39743299999999)"

In [170]:
rel_sunday['gps']

Date
2016-01-24                  (29.6847027, -95.4109208)
2016-01-24           (29.6812612, -95.42302099999999)
2016-01-24                   (29.685262, -95.4000069)
2016-01-24                  (29.6847027, -95.4109208)
2016-01-31                   (29.697703, -95.4182209)
2016-01-31                  (29.6947179, -95.4153736)
2016-01-31                  (29.6995311, -95.4036141)
2016-01-31                   (29.681094, -95.4271278)
2016-01-31    (29.68423499999999, -95.39888300000001)
2016-01-10           (29.6812612, -95.42302099999999)
2016-01-10                    (29.679237, -95.415899)
2016-01-10                   (29.697703, -95.4182209)
2016-01-10                    (29.680411, -95.419178)
2016-01-10                   (29.6929462, -95.401127)
2016-01-10                  (29.6788827, -95.4267682)
2016-01-03                  (29.6822688, -95.3999578)
2016-01-03           (29.7474286, -95.47368519999999)
2016-01-03                    (29.667682, -95.392416)
2016-01-03                  (29.6743803, -95.4127372)
2016-01-03                  (29.6907704, -95.4125396)
2016-01-17                  (29.6916999, -95.4172361)
2016-01-17                  (29.6916999, -95.4172361)
2016-01-17                    (29.684986, -95.422257)
2016-01-17           (29.7149951, -95.39743299999999)
Name: gps, dtype: object

In [171]:
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(rel_sunday['gps'].values))
fig

Figure(layout=FigureLayout(height='420px'))