In [1]:
import pandas as pd
import glob, os
import numpy as np
import matplotlib.pyplot as plt

## Source
- [Houston Police Department Crime Statistics](http://www.houstontx.gov/police/cs/crime-stats-archives.htm)
	- years: 2008 - 2017
	- format: Access or Excel

In [3]:
ls crime_data/2017

apr17.xls*       dec17.xls*  jan1.csv*   mar17.xls*  oct17.xls*
aug17.xls*       feb17.xls*  jul17.xls*  may17.xls*  sep17.xls*
clean_2017.csv*  jan17.xls*  jun17.xls*  nov17.xls*

## combine all files into one dataframe

In [4]:
path = 'crime_data/2017'
all_files = glob.glob(os.path.join(path, "*.xls")) 

df_from_each_file = (pd.read_excel(f) for f in all_files)
df   = pd.concat(df_from_each_file, ignore_index=True)

WARNING *** file size (3078551) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119727 entries, 0 to 119726
Data columns (total 13 columns):
# offenses      40378 non-null float64
Beat            119727 non-null object
Block Range     79349 non-null object
BlockRange      40378 non-null object
Date            119727 non-null object
Hour            119727 non-null int64
Offense Type    119727 non-null object
Offenses        79349 non-null float64
Premise         119240 non-null object
Street Name     79349 non-null object
StreetName      40378 non-null object
Suffix          119727 non-null object
Type            119727 non-null object
dtypes: float64(2), int64(1), object(10)
memory usage: 11.9+ MB

In [6]:
df.head(5)

,# offenses,Beat,Block Range,BlockRange,Date,Hour,Offense Type,Offenses,Premise,Street Name,StreetName,Suffix,Type
0,1.0,10H10,NaN,200-299,2017-04-10 00:00:00,15,Burglary,NaN,Residence or House,NaN,CLIFTON,-,-
1,1.0,10H10,NaN,2300-2399,2017-04-11 00:00:00,15,Theft,NaN,Restaurant or Cafeteria Parking Lot,NaN,CANAL,-,ST
2,1.0,10H10,NaN,2300-2399,2017-04-11 00:00:00,17,Theft,NaN,Restaurant or Cafeteria Parking Lot,NaN,CANAL,-,ST
3,1.0,10H10,NaN,4600-4699,2017-04-12 00:00:00,9,Burglary,NaN,Miscellaneous Business (Non-Specific),NaN,CANAL,-,ST
4,1.0,10H10,NaN,100-199,2017-04-12 00:00:00,19,Theft,NaN,"Other, Unknown, or Not Listed",NaN,ADAM,-,LN

## Lets create a copy

In [7]:
df1 = df.copy()

In [8]:
df1.columns

Index(['# offenses', 'Beat', 'Block Range', 'BlockRange', 'Date', 'Hour',
       'Offense Type', 'Offenses', 'Premise', 'Street Name', 'StreetName',
       'Suffix', 'Type'],
      dtype='object')

## Duplicate columns
We have duplicate columns with diffrent names
- `Block Range` & `BlockRange`
- `StreetName`  & `Street Name`
- `Offenses`  & `# offenses`

lets concat the columns remove nan values and reindex

In [9]:
df1['BlockRange'] = pd.concat([df1['Block Range'].dropna(), df1['BlockRange'].dropna()]).reindex_like(df)
df1['StreetName'] = pd.concat([df1['Street Name'].dropna(), df1['StreetName'].dropna()]).reindex_like(df)
df1['Offenses'] = pd.concat([df1['# offenses'].dropna(), df1['Offenses'].dropna()]).reindex_like(df)

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119727 entries, 0 to 119726
Data columns (total 13 columns):
# offenses      40378 non-null float64
Beat            119727 non-null object
Block Range     79349 non-null object
BlockRange      119727 non-null object
Date            119727 non-null object
Hour            119727 non-null int64
Offense Type    119727 non-null object
Offenses        119727 non-null float64
Premise         119240 non-null object
Street Name     79349 non-null object
StreetName      119727 non-null object
Suffix          119727 non-null object
Type            119727 non-null object
dtypes: float64(2), int64(1), object(10)
memory usage: 11.9+ MB

In [11]:
df1.head(5)

,# offenses,Beat,Block Range,BlockRange,Date,Hour,Offense Type,Offenses,Premise,Street Name,StreetName,Suffix,Type
0,1.0,10H10,NaN,200-299,2017-04-10 00:00:00,15,Burglary,1.0,Residence or House,NaN,CLIFTON,-,-
1,1.0,10H10,NaN,2300-2399,2017-04-11 00:00:00,15,Theft,1.0,Restaurant or Cafeteria Parking Lot,NaN,CANAL,-,ST
2,1.0,10H10,NaN,2300-2399,2017-04-11 00:00:00,17,Theft,1.0,Restaurant or Cafeteria Parking Lot,NaN,CANAL,-,ST
3,1.0,10H10,NaN,4600-4699,2017-04-12 00:00:00,9,Burglary,1.0,Miscellaneous Business (Non-Specific),NaN,CANAL,-,ST
4,1.0,10H10,NaN,100-199,2017-04-12 00:00:00,19,Theft,1.0,"Other, Unknown, or Not Listed",NaN,ADAM,-,LN

## create a subdataframe with the columns that we want

In [12]:
df17 = df1[['Date','Beat','BlockRange','StreetName','Offense Type','Premise','Offenses','Hour']]

In [13]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119727 entries, 0 to 119726
Data columns (total 8 columns):
Date            119727 non-null object
Beat            119727 non-null object
BlockRange      119727 non-null object
StreetName      119727 non-null object
Offense Type    119727 non-null object
Premise         119240 non-null object
Offenses        119727 non-null float64
Hour            119727 non-null int64
dtypes: float64(1), int64(1), object(6)
memory usage: 7.3+ MB

In [14]:
df17.tail()

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,Offenses,Hour
119722,09/29/2017,UNK,12600-12699,STAFFORD RD,Robbery,"Road, Street, or Sidewalk",1.0,1
119723,09/30/2017,UNK,10600-10699,BROOKLET,Theft,"Road, Street, or Sidewalk",1.0,13
119724,09/30/2017,UNK,12300-12399,WESTHEIMER RD,Robbery,Restaurant or Cafeteria Parking Lot,1.0,19
119725,09/30/2017,UNK,13200-13299,BEECHNUT ST,Aggravated Assault,Highway or Freeway,1.0,17
119726,11/10/2015,UNK,4900-4999,TEALGATE,Rape,Residence or House,1.0,22

## Now we can inspect df

In [15]:
df17.Date.unique() ## mixture of timestamp and date string

array([Timestamp('2017-04-10 00:00:00'), Timestamp('2017-04-11 00:00:00'),
       Timestamp('2017-04-12 00:00:00'), Timestamp('2017-04-14 00:00:00'),
       Timestamp('2017-04-18 00:00:00'), Timestamp('2017-03-18 00:00:00'),
       Timestamp('2017-03-31 00:00:00'), Timestamp('2017-04-03 00:00:00'),
       Timestamp('2017-04-05 00:00:00'), Timestamp('2017-04-06 00:00:00'),
       Timestamp('2017-04-07 00:00:00'), Timestamp('2017-04-08 00:00:00'),
       Timestamp('2017-04-09 00:00:00'), Timestamp('2017-04-20 00:00:00'),
       Timestamp('2017-04-21 00:00:00'), Timestamp('2017-04-22 00:00:00'),
       Timestamp('2017-04-23 00:00:00'), Timestamp('2017-04-24 00:00:00'),
       Timestamp('2017-04-26 00:00:00'), Timestamp('2017-04-27 00:00:00'),
       Timestamp('2017-04-28 00:00:00'), Timestamp('2017-04-29 00:00:00'),
       Timestamp('2017-04-30 00:00:00'), Timestamp('2017-04-16 00:00:00'),
       Timestamp('2017-04-13 00:00:00'), Timestamp('2017-04-02 00:00:00'),
       Timestamp('2017-04-15 00:00:00'), Timestamp('2017-04-17 00:00:00'),
       Timestamp('2017-04-01 00:00:00'), Timestamp('2017-04-04 00:00:00'),
       Timestamp('2017-04-25 00:00:00'), Timestamp('2016-09-05 00:00:00'),
       Timestamp('2017-04-19 00:00:00'), Timestamp('2017-03-28 00:00:00'),
       Timestamp('2017-03-10 00:00:00'), Timestamp('2017-03-12 00:00:00'),
       Timestamp('2017-01-06 00:00:00'), Timestamp('2017-03-27 00:00:00'),
       Timestamp('2017-03-30 00:00:00'), Timestamp('2016-07-20 00:00:00'),
       Timestamp('2017-03-09 00:00:00'), Timestamp('2017-03-04 00:00:00'),
       Timestamp('2017-01-10 00:00:00'), Timestamp('2017-01-18 00:00:00'),
       Timestamp('2017-02-09 00:00:00'), Timestamp('2017-03-22 00:00:00'),
       Timestamp('2017-03-24 00:00:00'), Timestamp('2017-03-15 00:00:00'),
       Timestamp('2016-12-14 00:00:00'), Timestamp('2016-04-11 00:00:00'),
       Timestamp('2017-02-16 00:00:00'), Timestamp('2017-01-23 00:00:00'),
       Timestamp('2017-03-19 00:00:00'), Timestamp('2014-10-29 00:00:00'),
       Timestamp('2017-03-23 00:00:00'), Timestamp('2017-02-27 00:00:00'),
       Timestamp('2015-01-01 00:00:00'), Timestamp('2017-02-11 00:00:00'),
       Timestamp('2016-04-07 00:00:00'), Timestamp('2016-04-14 00:00:00'),
       Timestamp('2017-01-02 00:00:00'), Timestamp('2017-01-27 00:00:00'),
       Timestamp('2017-03-26 00:00:00'), Timestamp('2016-12-29 00:00:00'),
       Timestamp('2016-11-17 00:00:00'), Timestamp('2016-07-15 00:00:00'),
       Timestamp('2017-03-25 00:00:00'), Timestamp('2017-01-12 00:00:00'),
       Timestamp('2017-02-25 00:00:00'), Timestamp('2017-02-28 00:00:00'),
       Timestamp('2017-03-16 00:00:00'), Timestamp('2016-08-18 00:00:00'),
       Timestamp('2016-09-10 00:00:00'), Timestamp('2017-02-13 00:00:00'),
       Timestamp('2012-06-01 00:00:00'), Timestamp('2017-02-26 00:00:00'),
       Timestamp('2017-03-01 00:00:00'), Timestamp('2017-03-29 00:00:00'),
       Timestamp('2016-11-01 00:00:00'), Timestamp('2016-07-01 00:00:00'),
       Timestamp('2014-04-15 00:00:00'), Timestamp('2017-02-01 00:00:00'),
       Timestamp('2017-03-20 00:00:00'), Timestamp('2017-03-17 00:00:00'),
       Timestamp('2016-10-04 00:00:00'), Timestamp('2016-12-20 00:00:00'),
       Timestamp('2017-03-21 00:00:00'), Timestamp('2017-02-15 00:00:00'),
       Timestamp('2017-03-02 00:00:00'), Timestamp('2017-03-14 00:00:00'),
       Timestamp('2017-02-23 00:00:00'), Timestamp('2017-02-02 00:00:00'),
       Timestamp('2016-07-04 00:00:00'), Timestamp('2016-06-14 00:00:00'),
       Timestamp('2016-04-01 00:00:00'), Timestamp('2017-03-03 00:00:00'),
       Timestamp('2017-02-20 00:00:00'), Timestamp('2017-01-01 00:00:00'),
       Timestamp('2016-11-16 00:00:00'), Timestamp('2016-04-04 00:00:00'),
       Timestamp('2007-04-26 00:00:00'), Timestamp('2017-03-08 00:00:00'),
       Timestamp('2014-07-31 00:00:00'), Timestamp('2014-01-01 00:00:00'),
       Timestamp('2015-12-20 00:00:00'), Timestamp('2017-03-11 00:00:00'),
       Timestamp('1917-04-16 00:00:00'), Timestamp('2017-01-14 00:00:00'),
       Timestamp('2002-12-01 00:00:00'), Timestamp('2016-08-19 00:00:00'),
       Timestamp('2012-02-13 00:00:00'), Timestamp('1983-03-01 00:00:00'),
       Timestamp('2016-10-01 00:00:00'), Timestamp('2016-12-06 00:00:00'),
       Timestamp('2014-04-16 00:00:00'), Timestamp('2017-02-24 00:00:00'),
       Timestamp('2017-01-17 00:00:00'), Timestamp('2016-06-01 00:00:00'),
       Timestamp('2016-11-24 00:00:00'), Timestamp('2016-10-10 00:00:00'),
       Timestamp('2016-10-25 00:00:00'), Timestamp('2017-03-13 00:00:00'),
       Timestamp('2016-03-02 00:00:00'), Timestamp('2016-04-27 00:00:00'),
       Timestamp('2015-06-29 00:00:00'), Timestamp('2016-10-09 00:00:00'),
       Timestamp('2017-03-06 00:00:00'), Timestamp('2016-08-01 00:00:00'),
       Timestamp('2013-07-01 00:00:00'), Timestamp('2015-06-03 00:00:00'),
       Timestamp('2016-12-23 00:00:00'), Timestamp('2017-03-05 00:00:00'),
       Timestamp('2017-02-05 00:00:00'), Timestamp('2017-02-18 00:00:00'),
       Timestamp('2017-01-24 00:00:00'), Timestamp('2017-01-05 00:00:00'),
       Timestamp('2016-04-02 00:00:00'), Timestamp('2016-11-22 00:00:00'),
       Timestamp('2014-12-01 00:00:00'), Timestamp('2014-04-14 00:00:00'),
       Timestamp('2017-02-07 00:00:00'), Timestamp('2016-03-18 00:00:00'),
       Timestamp('2014-03-31 00:00:00'), Timestamp('2016-09-23 00:00:00'),
       Timestamp('2015-09-30 00:00:00'), Timestamp('2016-09-01 00:00:00'),
       Timestamp('2016-11-07 00:00:00'), Timestamp('2016-03-01 00:00:00'),
       Timestamp('2005-09-01 00:00:00'), Timestamp('2016-06-17 00:00:00'),
       Timestamp('2017-02-17 00:00:00'), Timestamp('2017-02-10 00:00:00'),
       Timestamp('2017-02-04 00:00:00'), Timestamp('2017-02-22 00:00:00'),
       Timestamp('2017-01-31 00:00:00'), Timestamp('2005-06-13 00:00:00'),
       Timestamp('2013-11-01 00:00:00'), Timestamp('2016-11-05 00:00:00'),
       Timestamp('2017-01-13 00:00:00'), Timestamp('2016-11-19 00:00:00'),
       Timestamp('2015-10-26 00:00:00'), Timestamp('2010-06-15 00:00:00'),
       Timestamp('2016-11-03 00:00:00'), Timestamp('2016-10-07 00:00:00'),
       Timestamp('2011-04-10 00:00:00'), Timestamp('2016-08-24 00:00:00'),
       Timestamp('2014-04-13 00:00:00'), Timestamp('2017-01-26 00:00:00'),
       Timestamp('2016-12-01 00:00:00'), Timestamp('2016-05-22 00:00:00'),
       Timestamp('2016-12-15 00:00:00'), Timestamp('2016-12-09 00:00:00'),
       Timestamp('2017-01-30 00:00:00'), Timestamp('2016-04-15 00:00:00'),
       Timestamp('1927-04-06 00:00:00'), Timestamp('2017-01-11 00:00:00'),
       Timestamp('2017-02-21 00:00:00'), Timestamp('2016-04-13 00:00:00'),
       Timestamp('2014-04-29 00:00:00'), Timestamp('2017-02-12 00:00:00'),
       Timestamp('2016-08-05 00:00:00'), Timestamp('1920-04-26 00:00:00'),
       Timestamp('2016-12-05 00:00:00'), Timestamp('2010-04-04 00:00:00'),
       Timestamp('2016-05-01 00:00:00'), Timestamp('2015-04-04 00:00:00'),
       '08/02/2017', '08/03/2017', '08/04/2017', '08/05/2017',
       '08/08/2017', '08/09/2017', '08/10/2017', '08/11/2017',
       '08/13/2017', '08/14/2017', '08/15/2017', '08/20/2017',
       '08/21/2017', '08/22/2017', '08/23/2017', '08/25/2017',
       '08/26/2017', '08/29/2017', '08/07/2017', '08/12/2017',
       '08/16/2017', '08/17/2017', '08/18/2017', '08/19/2017',
       '08/30/2017', '08/31/2017', '08/01/2017', '08/06/2017',
       '08/24/2017', '04/30/2017', '06/15/2017', '08/28/2017',
       '04/24/2017', '08/27/2017', '04/27/2017', '06/07/2017',
       '06/08/2017', '04/12/2017', '05/25/2017', '06/30/2017',
       '04/23/2017', '06/12/2017', '04/21/2017', '05/01/2017',
       '04/26/2017', '06/28/2017', '06/29/2017', '05/26/2017',
       '04/09/2017', '05/06/2017', '06/05/2017', '07/31/2017',
       '06/02/2017', '05/22/2017', '07/26/2017', '06/21/2017',
       '06/09/2017', '06/06/2017', '05/23/2017', '07/09/2016',
       '06/27/2017', '06/22/2017', '04/04/2017', '06/26/2017',
       '06/24/2017', '07/25/2017', '06/10/2017', '03/02/2017',
       '06/20/2017', '06/03/2017', '06/13/2017', '03/15/2017',
       '06/29/2016', '04/07/2017', '07/16/2017', '05/05/2017',
       '06/23/2017', '12/01/2017', '12/02/2017', '12/03/2017',
       '12/05/2017', '12/06/2017', '12/07/2017', '12/08/2017',
       '12/11/2017', '12/13/2017', '12/14/2017', '12/15/2017',
       '12/16/2017', '12/17/2017', '12/18/2017', '12/19/2017',
       '12/20/2017', '12/22/2017', '12/24/2017', '12/25/2017',
       '12/26/2017', '12/27/2017', '12/28/2017', '12/30/2017',
       '12/31/2017', '09/24/2017', '10/17/2017', '12/04/2017',
       '12/09/2017', '12/12/2017', '12/21/2017', '12/23/2017',
       '12/10/2017', '12/29/2017', '10/16/2016', '11/05/2017',
       '09/21/2017', '02/16/2017', '11/21/2017', '12/10/2016',
       '10/04/2017', '11/03/2017', '12/24/2016', '10/27/2017',
       '08/26/2014', '11/17/2017', '09/20/2017', '11/27/2017',
       '09/25/2017', '11/23/2010', '11/12/2017', '02/26/2016',
       '11/06/2017', '10/08/2017', '10/30/2017', '11/16/2017',
       Timestamp('2017-02-14 00:00:00'), Timestamp('2017-02-19 00:00:00'),
       Timestamp('2017-02-03 00:00:00'), Timestamp('2017-02-06 00:00:00'),
       Timestamp('2017-02-08 00:00:00'), Timestamp('2017-01-25 00:00:00'),
       Timestamp('2016-12-30 00:00:00'), Timestamp('2017-01-28 00:00:00'),
       Timestamp('2007-01-01 00:00:00'), Timestamp('2016-12-17 00:00:00'),
       Timestamp('2015-05-01 00:00:00'), Timestamp('2006-10-21 00:00:00'),
       Timestamp('2016-12-22 00:00:00'), Timestamp('2016-11-13 00:00:00'),
       Timestamp('2017-01-29 00:00:00'), Timestamp('1917-02-20 00:00:00'),
       Timestamp('2016-12-28 00:00:00'), Timestamp('2016-10-27 00:00:00'),
       Timestamp('2016-10-16 00:00:00'), Timestamp('2016-09-27 00:00:00'),
       Timestamp('2016-12-12 00:00:00'), Timestamp('2017-01-19 00:00:00'),
       Timestamp('2016-12-25 00:00:00'), Timestamp('2017-01-16 00:00:00'),
       Timestamp('2016-10-26 00:00:00'), Timestamp('2016-10-29 00:00:00'),
       Timestamp('2015-02-07 00:00:00'), Timestamp('2007-12-25 00:00:00'),
       Timestamp('2016-12-26 00:00:00'), Timestamp('2016-01-28 00:00:00'),
       Timestamp('2016-12-21 00:00:00'), Timestamp('2016-11-08 00:00:00'),
       Timestamp('2014-02-13 00:00:00'), Timestamp('2016-02-08 00:00:00'),
       Timestamp('2017-01-20 00:00:00'), Timestamp('2016-11-23 00:00:00'),
       Timestamp('2016-02-05 00:00:00'), Timestamp('1964-10-31 00:00:00'),
       Timestamp('2016-05-16 00:00:00'), Timestamp('2016-02-17 00:00:00'),
       Timestamp('2016-10-15 00:00:00'), Timestamp('2016-11-20 00:00:00'),
       Timestamp('2016-11-25 00:00:00'), Timestamp('2016-12-24 00:00:00'),
       Timestamp('2016-02-07 00:00:00'), Timestamp('2017-01-21 00:00:00'),
       Timestamp('2016-12-10 00:00:00'), Timestamp('2017-01-15 00:00:00'),
       Timestamp('2017-01-04 00:00:00'), Timestamp('2007-02-04 00:00:00'),
       Timestamp('2016-12-11 00:00:00'), Timestamp('2016-02-24 00:00:00'),
       Timestamp('2016-12-03 00:00:00'), Timestamp('2017-01-22 00:00:00'),
       Timestamp('2017-01-07 00:00:00'), Timestamp('2016-02-21 00:00:00'),
       Timestamp('2016-03-26 00:00:00'), Timestamp('2016-12-27 00:00:00'),
       Timestamp('2014-03-01 00:00:00'), Timestamp('2016-12-16 00:00:00'),
       Timestamp('2016-02-10 00:00:00'), Timestamp('2001-02-24 00:00:00'),
       Timestamp('2015-09-13 00:00:00'), Timestamp('2016-11-14 00:00:00'),
       Timestamp('2016-02-06 00:00:00'), Timestamp('2017-01-08 00:00:00'),
       Timestamp('2013-03-27 00:00:00'), Timestamp('2016-10-31 00:00:00'),
       Timestamp('2017-01-09 00:00:00'), Timestamp('2002-04-15 00:00:00'),
       Timestamp('2016-12-18 00:00:00'), Timestamp('2015-03-18 00:00:00'),
       Timestamp('2016-02-19 00:00:00'), Timestamp('2016-02-12 00:00:00'),
       Timestamp('2016-05-13 00:00:00'), Timestamp('2016-12-31 00:00:00'),
       Timestamp('2016-11-30 00:00:00'), Timestamp('2016-11-12 00:00:00'),
       Timestamp('2016-02-20 00:00:00'), Timestamp('2015-12-25 00:00:00'),
       Timestamp('2016-10-19 00:00:00'), Timestamp('2017-01-03 00:00:00'),
       Timestamp('2008-12-08 00:00:00'), Timestamp('2009-01-01 00:00:00'),
       Timestamp('2016-02-13 00:00:00'), Timestamp('2016-02-18 00:00:00'),
       Timestamp('2016-10-17 00:00:00'), Timestamp('2015-08-18 00:00:00'),
       Timestamp('2016-11-21 00:00:00'), Timestamp('2007-12-30 00:00:00'),
       Timestamp('2016-10-24 00:00:00'), Timestamp('2006-12-01 00:00:00'),
       Timestamp('2016-08-04 00:00:00'), Timestamp('2016-02-01 00:00:00'),
       Timestamp('2016-01-01 00:00:00'), Timestamp('2016-12-19 00:00:00'),
       Timestamp('2016-02-03 00:00:00'), Timestamp('2016-10-02 00:00:00'),
       Timestamp('2016-02-16 00:00:00'), Timestamp('2011-02-01 00:00:00'),
       Timestamp('2016-11-10 00:00:00'), Timestamp('2014-05-23 00:00:00'),
       Timestamp('1917-12-18 00:00:00'), Timestamp('2015-06-01 00:00:00'),
       Timestamp('2016-01-09 00:00:00'), Timestamp('2016-01-07 00:00:00'),
       Timestamp('2016-10-11 00:00:00'), Timestamp('2016-01-21 00:00:00'),
       Timestamp('2016-09-08 00:00:00'), Timestamp('2016-01-08 00:00:00'),
       Timestamp('2016-05-15 00:00:00'), Timestamp('2016-01-25 00:00:00'),
       Timestamp('2016-01-06 00:00:00'), Timestamp('2016-11-28 00:00:00'),
       Timestamp('2014-10-19 00:00:00'), Timestamp('2016-01-17 00:00:00'),
       Timestamp('2016-11-04 00:00:00'), Timestamp('2015-03-12 00:00:00'),
       Timestamp('2016-01-16 00:00:00'), Timestamp('2016-01-19 00:00:00'),
       Timestamp('2016-11-06 00:00:00'), Timestamp('2016-11-15 00:00:00'),
       Timestamp('2016-11-02 00:00:00'), Timestamp('2016-01-12 00:00:00'),
       Timestamp('2016-12-13 00:00:00'), Timestamp('2016-01-02 00:00:00'),
       Timestamp('2016-09-29 00:00:00'), Timestamp('2016-10-08 00:00:00'),
       Timestamp('2016-01-03 00:00:00'), Timestamp('2016-01-14 00:00:00'),
       Timestamp('2015-12-31 00:00:00'), Timestamp('2016-12-02 00:00:00'),
       Timestamp('2016-05-14 00:00:00'), Timestamp('2010-01-01 00:00:00'),
       Timestamp('2016-12-08 00:00:00'), Timestamp('2014-12-10 00:00:00'),
       Timestamp('2013-01-01 00:00:00'), Timestamp('2016-07-22 00:00:00'),
       Timestamp('2016-04-06 00:00:00'), Timestamp('2009-09-11 00:00:00'),
       Timestamp('2016-10-28 00:00:00'), Timestamp('2015-06-16 00:00:00'),
       Timestamp('2016-06-21 00:00:00'), Timestamp('2016-03-08 00:00:00'),
       Timestamp('2016-09-30 00:00:00'), Timestamp('2016-10-03 00:00:00'),
       Timestamp('2016-01-04 00:00:00'), Timestamp('2016-12-07 00:00:00'),
       Timestamp('2011-09-11 00:00:00'), Timestamp('2016-01-23 00:00:00'),
       Timestamp('2016-07-05 00:00:00'), Timestamp('2016-08-10 00:00:00'),
       Timestamp('2016-12-04 00:00:00'), Timestamp('2016-01-10 00:00:00'),
       Timestamp('2015-12-01 00:00:00'), Timestamp('2016-10-21 00:00:00'),
       Timestamp('2016-11-11 00:00:00'), Timestamp('2016-10-22 00:00:00'),
       Timestamp('2015-01-19 00:00:00'), Timestamp('2016-07-27 00:00:00'),
       Timestamp('2016-01-15 00:00:00'), Timestamp('2016-09-15 00:00:00'),
       Timestamp('2016-09-22 00:00:00'), Timestamp('2015-06-17 00:00:00'),
       Timestamp('1993-01-20 00:00:00'), Timestamp('2010-12-13 00:00:00'),
       Timestamp('2016-11-27 00:00:00'), Timestamp('2010-01-11 00:00:00'),
       Timestamp('2016-08-15 00:00:00'), Timestamp('1953-07-20 00:00:00'),
       Timestamp('2015-12-09 00:00:00'), Timestamp('1917-01-20 00:00:00'),
       Timestamp('2016-11-29 00:00:00'), Timestamp('2016-09-11 00:00:00'),
       Timestamp('2016-01-27 00:00:00'), Timestamp('2016-07-03 00:00:00'),
       Timestamp('2014-09-06 00:00:00'), Timestamp('2016-01-05 00:00:00'),
       Timestamp('2016-01-31 00:00:00'), Timestamp('2016-05-20 00:00:00'),
       Timestamp('2014-01-13 00:00:00'), Timestamp('2016-09-25 00:00:00'),
       Timestamp('2016-06-23 00:00:00'), Timestamp('2016-03-12 00:00:00'),
       Timestamp('2000-01-01 00:00:00'), Timestamp('2016-07-12 00:00:00'),
       Timestamp('2016-10-20 00:00:00'), Timestamp('2008-11-07 00:00:00'),
       Timestamp('2016-03-06 00:00:00'), Timestamp('2014-01-08 00:00:00'),
       Timestamp('2016-05-12 00:00:00'), Timestamp('2016-01-26 00:00:00'),
       Timestamp('2016-11-09 00:00:00'), Timestamp('2015-07-20 00:00:00'),
       Timestamp('2016-01-18 00:00:00'), Timestamp('2016-01-20 00:00:00'),
       Timestamp('2016-03-03 00:00:00'), Timestamp('2016-10-30 00:00:00'),
       Timestamp('2016-01-13 00:00:00'), Timestamp('2016-10-06 00:00:00'),
       '07/01/2017', '07/02/2017', '07/03/2017', '07/04/2017',
       '07/07/2017', '07/08/2017', '07/09/2017', '07/10/2017',
       '07/11/2017', '07/12/2017', '07/14/2017', '07/15/2017',
       '07/17/2017', '07/18/2017', '07/19/2017', '07/21/2017',
       '07/23/2017', '07/24/2017', '07/27/2017', '07/28/2017',
       '07/29/2017', '07/05/2017', '07/06/2017', '07/13/2017',
       '07/22/2017', '07/30/2017', '07/20/2017', '03/18/2017',
       '03/08/2017', '08/26/2016', '05/18/2017', '05/08/2017',
       '06/14/2017', '06/13/2016', '05/17/2017', '10/04/2016',
       '01/14/2017', '10/17/2016', '12/18/2015', '06/19/2017',
       '01/19/2016', '05/30/2014', '11/30/2016', '04/10/2017',
       '05/19/2016', '05/20/2017', '06/04/2017', '06/11/2017',
       '06/16/2017', '06/17/2017', '06/25/2017', '06/01/2017',
       '06/18/2017', '11/28/2015', '05/31/2017', '04/25/2017',
       '05/30/2017', '08/03/2016', '12/16/2016', '05/16/2017',
       '06/08/2015', '02/23/2017', '03/20/2017', '02/11/2016',
       '05/12/2017', '04/14/2017', '05/15/2017', '05/03/2017',
       '03/31/2017', '05/28/2017', '03/23/2017', '07/08/2015',
       '04/19/2017', '03/27/2017', '03/21/2017', '10/25/2016',
       '04/25/2016', '06/07/2016', Timestamp('2017-03-07 00:00:00'),
       Timestamp('2016-03-25 00:00:00'), Timestamp('2014-12-31 00:00:00'),
       Timestamp('2016-07-14 00:00:00'), Timestamp('2016-03-07 00:00:00'),
       Timestamp('2013-09-17 00:00:00'), Timestamp('2016-03-16 00:00:00'),
       Timestamp('2016-02-26 00:00:00'), Timestamp('2013-03-09 00:00:00'),
       Timestamp('2016-02-28 00:00:00'), Timestamp('2016-09-20 00:00:00'),
       Timestamp('2015-10-30 00:00:00'), Timestamp('2016-03-28 00:00:00'),
       Timestamp('2016-06-05 00:00:00'), Timestamp('2010-01-13 00:00:00'),
       Timestamp('2016-09-09 00:00:00'), Timestamp('2016-08-11 00:00:00'),
       Timestamp('2016-03-11 00:00:00'), Timestamp('2014-11-18 00:00:00'),
       Timestamp('2015-09-01 00:00:00'), Timestamp('2015-03-15 00:00:00'),
       Timestamp('2016-07-08 00:00:00'), Timestamp('1993-06-16 00:00:00'),
       Timestamp('2013-06-19 00:00:00'), Timestamp('2011-11-28 00:00:00'),
       Timestamp('2016-06-19 00:00:00'), Timestamp('1983-11-01 00:00:00'),
       Timestamp('2016-05-02 00:00:00'), Timestamp('1976-04-03 00:00:00'),
       Timestamp('2013-10-23 00:00:00'), Timestamp('2015-07-06 00:00:00'),
       Timestamp('2015-09-15 00:00:00'), Timestamp('2016-11-18 00:00:00'),
       Timestamp('2016-05-26 00:00:00'), Timestamp('2015-08-28 00:00:00'),
       Timestamp('2014-02-28 00:00:00'), Timestamp('1990-01-01 00:00:00'),
       Timestamp('2015-05-23 00:00:00'), Timestamp('2015-04-29 00:00:00'),
       Timestamp('2007-12-09 00:00:00'), Timestamp('2015-05-27 00:00:00'),
       Timestamp('2016-09-18 00:00:00'), Timestamp('2012-08-02 00:00:00'),
       Timestamp('2015-02-01 00:00:00'), Timestamp('2013-03-11 00:00:00'),
       Timestamp('2016-04-19 00:00:00'), Timestamp('1920-02-29 00:00:00'),
       Timestamp('2016-08-20 00:00:00'), Timestamp('2011-01-01 00:00:00'),
       Timestamp('2015-07-02 00:00:00'), Timestamp('2016-06-20 00:00:00'),
       Timestamp('2015-05-10 00:00:00'), '05/02/2017', '05/04/2017',
       '05/07/2017', '05/09/2017', '05/11/2017', '05/13/2017',
       '05/14/2017', '05/21/2017', '05/24/2017', '05/27/2017',
       '05/29/2017', '05/10/2017', '05/19/2017', '03/13/2017',

In [16]:
df17.Beat.unique()  ## extra spaces on several results

array(['10H10', '10H20', '10H30', '10H40', '10H50', '10H60', '10H70',
       '10H80', '11H10', '11H20', '11H30', '11H40', '11H50', '12D10',
       '12D20', '12D30', '12D40', '12D50', '12D60', '12D70', '13D10',
       '13D20', '13D30', '13D40', '14D10', '14D20', '14D30', '14D40',
       '14D50', '15E10', '15E20', '15E30', '15E40', '16E10', '16E20',
       '16E30', '16E40', '17E10', '17E20', '17E30', '17E40', '18F10',
       '18F20', '18F30', '18F40', '18F50', '18F60', '19G10', '19G20',
       '19G30', '19G40', '19G50', '1A10', '1A20', '1A30', '1A40', '1A50',
       '20G10', '20G20', '20G30', '20G40', '20G50', '20G60', '20G70',
       '20G80', '21I10', '21I20', '21I30', '21I40', '21I50', '21I60',
       '21I70', '23J50', '24C10', '24C20', '24C30', '24C40', '24C50',
       '24C60', '2A10', '2A20', '2A30', '2A40', '2A50', '2A60', '3B10',
       '3B30', '3B40', '3B50', '4F10', '4F20', '4F30', '5F10', '5F20',
       '5F30', '5F40', '6B10', '6B20', '6B30', '6B40', '6B50', '6B60',
       '7C10', '7C20', '7C30', '7C40', '7C50', '8C10', '8C20', '8C30',
       '8C40', '8C50', '8C60', '9C10', '9C20', '9C30', '9C40', 'UH-3P',
       'UNK', '23J40', '10H10 ', '10H20 ', '10H30 ', '10H40 ', '10H50 ',
       '10H60 ', '10H70 ', '10H80 ', '11H10 ', '11H20 ', '11H30 ',
       '11H40 ', '11H50 ', '12D10 ', '12D20 ', '12D30 ', '12D40 ',
       '12D50 ', '12D60 ', '12D70 ', '13D10 ', '13D20 ', '13D30 ',
       '13D40 ', '14D10 ', '14D20 ', '14D30 ', '14D40 ', '14D50 ',
       '15E10 ', '15E20 ', '15E30 ', '15E40 ', '16E10 ', '16E20 ',
       '16E30 ', '16E40 ', '17E10 ', '17E20 ', '17E30 ', '17E40 ',
       '18F10 ', '18F20 ', '18F30 ', '18F40 ', '18F50 ', '18F60 ',
       '19G10 ', '19G20 ', '19G30 ', '19G40 ', '19G50 ', '1A10  ',
       '1A20  ', '1A30  ', '1A40  ', '1A50  ', '20G10 ', '20G20 ',
       '20G30 ', '20G40 ', '20G50 ', '20G60 ', '20G70 ', '20G80 ',
       '21I10 ', '21I20 ', '21I40 ', '21I50 ', '21I60 ', '21I70 ',
       '23J50 ', '24C10 ', '24C20 ', '24C30 ', '24C40 ', '24C50 ',
       '24C60 ', '2A10  ', '2A20  ', '2A30  ', '2A40  ', '2A50  ',
       '2A60  ', '3B10  ', '3B30  ', '3B40  ', '3B50  ', '4F10  ',
       '4F20  ', '4F30  ', '5F10  ', '5F20  ', '5F30  ', '5F40  ',
       '6B10  ', '6B20  ', '6B30  ', '6B40  ', '6B50  ', '6B60  ',
       '7C10  ', '7C20  ', '7C30  ', '7C40  ', '7C50  ', '8C10  ',
       '8C20  ', '8C30  ', '8C40  ', '8C50  ', '8C60  ', '9C10  ',
       '9C20  ', '9C30  ', '9C40  ', 'UNK   '], dtype=object)

In [17]:
df17.Beat.value_counts(dropna=False)  # needs cleanup

1A20      2622
15E40     2242
12D10     2200
18F20     2008
19G10     2008
17E10     1926
18F40     1903
13D20     1900
3B10      1883
1A30      1832
5F30      1821
6B60      1797
14D20     1774
1A50      1741
20G50     1739
17E40     1733
2A50      1721
18F30     1697
1A10      1645
20G30     1622
20G10     1597
2A30      1581
5F40      1495
7C20      1463
18F50     1395
3B50      1389
10H70     1389
20G80     1374
11H10     1363
9C40      1338
          ...
24C50       32
12D40       32
24C30       31
13D40       31
10H20       31
11H50       29
21I50       29
24C10       25
18F10       25
24C20       24
12D50       24
21I70       21
9C10        20
1A40        20
14D50       18
21I10       16
21I20       15
11H40       13
21I40       12
24C60       10
13D30       10
23J50       10
21I60        9
24C40        6
21I30        5
21I40        3
21I20        3
23J40        1
UH-3P        1
21I70        1
Name: Beat, Length: 237, dtype: int64

In [18]:
df17.BlockRange.unique()  # UNK val

array(['200-299', '2300-2399', '4600-4699', '100-199', '5100-5199',
       '600-699', '3500-3599', '2900-2999', '4500-4599', '4300-4399',
       '300-399', '4400-4499', '2600-2699', '5400-5499', '1900-1999',
       '3600-3699', '2200-2299', '4000-4099', '3000-3099', '4700-4799',
       'UNK', '5000-5099', '700-799', '3900-3999', '5200-5299',
       '4800-4899', '3800-3899', '1300-1399', '1600-1699', '1200-1299',
       '5300-5399', '4100-4199', '1800-1899', '500-599', '3400-3499',
       '2100-2199', '2000-2099', '1000-1099', '1700-1799', '1500-1599',
       '900-999', '1400-1499', '1100-1199', '2700-2799', '2800-2899',
       '800-899', '400-499', '4200-4299', '2400-2499', '3100-3199',
       '3300-3399', '2500-2599', '3200-3299', '3700-3799', '5500-5599',
       '6200-6299', '5900-5999', '5800-5899', '6500-6599', '6400-6499',
       '6300-6399', '7000-7099', '4900-4999', '7400-7499', '5600-5699',
       '6700-6799', '6600-6699', '6800-6899', '6900-6999', '7300-7399',
       '6100-6199', '10500-10599', '6000-6099', '5700-5799', '7100-7199',
       '7700-7799', '7200-7299', '7800-7899', '7500-7599', '7900-7999',
       '7600-7699', '8000-8099', '9300-9399', '8600-8699', '9200-9299',
       '8300-8399', '8500-8599', '8400-8499', '8200-8299', '8100-8199',
       '12000-12099', '8900-8999', '10300-10399', '10700-10799',
       '9500-9599', '9800-9899', '9900-9999', '10900-10999', '9700-9799',
       '9400-9499', '12200-12299', '10600-10699', '10100-10199',
       '10200-10299', '10800-10899', '10000-10099', '10400-10499',
       '9000-9099', '11100-11199', '11500-11599', '12100-12199',
       '8800-8899', '9100-9199', '9600-9699', '11700-11799',
       '11400-11499', '13000-13099', '12800-12899', '11000-11099',
       '11800-11899', '12300-12399', '12400-12499', '11300-11399',
       '11600-11699', '12500-12599', '11200-11299', '13100-13199',
       '11900-11999', '12900-12999', '13800-13899', '12700-12799',
       '13300-13399', '13700-13799', '12600-12699', '15300-15399',
       '15100-15199', '14100-14199', '15600-15699', '15700-15799',
       '14600-14699', '14200-14299', '14300-14399', '15800-15899',
       '13900-13999', '16800-16899', '16200-16299', '16700-16799',
       '16600-16699', '17800-17899', '16400-16499', '16100-16199',
       '16300-16399', '19100-19199', '18200-18299', '14000-14099',
       '18400-18499', '18800-18899', '15900-15999', '18600-18699',
       '19400-19499', '18300-18399', '15200-15299', '8700-8799',
       '13400-13499', '13500-13599', '13200-13299', '14400-14499',
       '14500-14599', '14800-14899', '14700-14799', '13600-13699',
       '16500-16599', '15500-15599', '16900-16999', '15400-15499',
       '16000-16099', '14900-14999', '17100-17199', '17300-17399',
       '22100-22199', '24500-24599', '24100-24199', '27900-27999',
       '24400-24499', '22600-22699', '19000-19099', '23000-23099',
       '23300-23399', '21900-21999', '23700-23799', '17400-17499',
       '17700-17799', '17600-17699', '18700-18799', '18500-18599',
       '18000-18099', '15000-15099', '18100-18199', '17900-17999',
       '17200-17299', '17500-17599', '17000-17099', '20900-20999',
       '20700-20799', '23900-23999', '19500-19599', '25000-25099',
       '19600-19699', '21700-21799', '19200-19299', '21200-21299',
       '23500-23599', '31700-31799', '21100-21199', '25800-25899',
       '24900-24999', '22500-22599', '20800-20899', '22700-22799',
       '272000-272099', '24300-24399', '26400-26499', '21800-21899',
       '19900-19999', '20400-20499', '20200-20299', '24600-24699',
       '23600-23699', '18900-18999', '27500-27599', '29100-29199',
       '20600-20699', '22200-22299', '20300-20399', '19700-19799',
       '23100-23199', '27100-27199', '29900-29999', '27400-27499',
       '26700-26799', '21500-21599', '22900-22999', '22800-22899',
       '24200-24299', '25600-25699', '19300-19399', '100000-100099',
       '25400-25499', '37000-37099', '27700-27799', '19800-19899',
       '30900-30999', '26600-26699', '30000-30099', '25900-25999',
       '25300-25399', '25200-25299', '133300-133399', '21300-21399',
       '21400-21499', '20000-20099', '25500-25599', '21000-21099',
       '29600-29699', '24000-24099', '27600-27699', '80300-80399',
       '22300-22399', '23400-23499', '124000-124099', '83100-83199',
       '32600-32699', '140500-140599', '23800-23899', '31000-31099',
       '31400-31499', '34800-34899', '38700-38799', '33400-33499',
       '28000-28099', '105800-105899', '20500-20599', '27000-27099',
       '24700-24799', '29300-29399', '22000-22099', '30500-30599',
       '28800-28899', '49000-49099', '26000-26099', '23200-23299',
       '21600-21699', '29000-29099', '20100-20199', '26900-26999',
       '171300-171399', '22400-22499', '25100-25199', '28600-28699',
       '28100-28199', '26300-26399', '27200-27299', '79000-79099',
       '33100-33199', '31900-31999', '30400-30499', '32100-32199',
       '29200-29299', '32000-32099', '30600-30699', '26200-26299',
       '25700-25799', '112600-112699', '28200-28299', '110600-110699',
       '1.1103e+006-1.1104e+006', '28900-28999', '24800-24899',
       '27800-27899', '175500-175599'], dtype=object)

In [19]:
df17.BlockRange.value_counts(dropna=False)  # 1629 UNK values & 1.1103e+006-1.1104e+006 ???

900-999          1652
UNK              1629
100-199          1605
2400-2499        1553
2300-2399        1472
1000-1099        1388
1500-1599        1365
800-899          1360
700-799          1341
200-299          1311
4400-4499        1285
300-399          1278
1400-1499        1267
2500-2599        1247
500-599          1238
1100-1199        1185
2000-2099        1185
600-699          1154
2100-2199        1152
2700-2799        1152
7500-7599        1145
1300-1399        1138
1200-1299        1137
5000-5099        1136
2800-2899        1136
5400-5499        1101
9400-9499        1079
2900-2999        1077
2200-2299        1072
400-499          1069
                 ...
80300-80399         1
25400-25499         1
25900-25999         1
24800-24899         1
28200-28299         1
133300-133399       1
28100-28199         1
31700-31799         1
31400-31499         1
79000-79099         1
29200-29299         1
27800-27899         1
32600-32699         1
26700-26799         1
32000-32099         1
272000-272099       1
25700-25799         1
83100-83199         1
124000-124099       1
30900-30999         1
49000-49099         1
105800-105899       1
112600-112699       1
29900-29999         1
38700-38799         1
171300-171399       1
175500-175599       1
30400-30499         1
100000-100099       1
140500-140599       1
Name: BlockRange, Length: 320, dtype: int64

In [20]:
df17.StreetName.unique()  # lots extra spaces

array(['CLIFTON', 'CANAL', 'ADAM', ..., 'GREEN LAKER', 'STAFFORD RD',
       'TEALGATE'], dtype=object)

In [21]:
df17.StreetName.value_counts(dropna=False)  # name cleanup too!

WESTHEIMER                                                                                                                                                1993
WESTHEIMER RD                                                                                                                                             1230
GESSNER                                                                                                                                                    980
NORTH                                                                                                                                                      839
GULF                                                                                                                                                       785
LOOP                                                                                                                                                       778
SAM HOUSTON                                                                                                                                                759
RICHMOND                                                                                                                                                   741
KATY                                                                                                                                                       713
NORTHWEST                                                                                                                                                  667
SOUTHWEST                                                                                                                                                  660
MAIN                                                                                                                                                       641
BISSONNET                                                                                                                                                  615
RICHMOND AVE                                                                                                                                               539
BELLAIRE                                                                                                                                                   532
BELLFORT                                                                                                                                                   527
POST OAK                                                                                                                                                   518
BEECHNUT                                                                                                                                                   482
SHEPHERD                                                                                                                                                   448
FONDREN                                                                                                                                                    435
TIDWELL                                                                                                                                                    429
BROADWAY                                                                                                                                                   386
WAYSIDE                                                                                                                                                    385
LITTLE YORK                                                                                                                                                384
EAST                                                                                                                                                       380
BISSONNET ST                                                                                                                                               368
BELLAIRE BLVD                                                                                                                                              365
FM 1960                                                                                                                                                    351
KIRBY                                                                                                                                                      343
FANNIN                                                                                                                                                     326
                                                                                                                                                          ...
GULF FWY 315                                                                                                                                                 1
BRENTLEYWOOD                                                                                                                                                 1
BENNINGTON ROAD APT 318                                                                                                                                      1
CHISWELL                                                                                                                                                     1
WOODWIND LN                                                                                                                                                  1
RICHMOND AVE SUITE A                                                                                                                                         1
DUNVALE RD ROLIDO                                                                                                                                            1
PLUM CREEK DR APT 6416                                                                                                                                       1
COLLETON DRIVE                                                                                                                                               1
CR 164                                                                                                                                                       1
ZARROLL DR                                                                                                                                                   1
N. SHEPHERD DR SUITE                                                                                                                                         1
EAST EDGEBROOK APT 611                                                                                                                                       1
GROW LANE 227                                                                                                                                                1
WOODCAMP DR                                                                                                                                                  1
EDGEBROOK APT 113                                                                                                                                            1
POST OAK PARK                                                                                                                                                1
OLD SORTERS                                                                                                                                                  1
OLD SPANISH TRL APT 2033                                                                                                                                     1
YEARLING BRANCH                                                                                                                                              1
GOLDEN PK                                                                                                                                                    1
LOCKWOOD DR APT 9                                                                                                                                            1
RIVER FALLS                                                                                                                                                  1
BROADMORE                                                                                                                                                    1
LE HAVRE                                                                                                                                                     1
ROLLING MEADOWS                                                                                                                                              1
KICKERILLO                                                                                                                                                   1
STOREY                                                                                                                                                       1
WEST VILLAGE                                                                                                                                                 1
LAKE FALLS                                                                                                                                                   1
Name: StreetName, Length: 21587, dtype: int64

In [22]:
df17['Offense Type'].unique()  # lots of extra space

array(['Burglary', 'Theft', 'Robbery', 'Auto Theft', 'Aggravated Assault',
       'Rape', 'Murder', 'AutoTheft', 1, 'Burglary                 ',
       'Robbery                  ', 'Theft                    ',
       'AutoTheft                ', 'Aggravated Assault       ',
       'Rape                     ', 'Murder                   '],
      dtype=object)

In [23]:
df17['Offense Type'].value_counts(dropna=False) # combine similar values

Theft                        61411
Burglary                     15713
Aggravated Assault           11156
Robbery                       8956
AutoTheft                     6649
Theft                         6011
Auto Theft                    3874
Burglary                      1371
Rape                          1239
Aggravated Assault            1158
AutoTheft                      978
Robbery                        822
Murder                         235
Rape                           129
Murder                          23
1                                2
Name: Offense Type, dtype: int64

In [24]:
df17.Premise.unique()  # srip extra spaces

array(['Residence or House', 'Restaurant or Cafeteria Parking Lot',
       'Miscellaneous Business (Non-Specific)',
       'Other, Unknown, or Not Listed', 'Bank',
       'Road, Street, or Sidewalk', 'Other Parking Lot',
       'Apartment Parking Lot', 'Convenience Store Parking Lot',
       'Apartment', nan, 'Commercial Building',
       'Vacant Single Occ Resd(House,Townhs,Dplex)', 'Warehouse',
       'Convenience Store', 'Park and Ride Terminal',
       'Commercial Parking Lot or Garage', 'Restaurant or Cafeteria',
       'Garage or Carport', 'Bar or Night Club', 'Service or Gas Station',
       'Construction Site', 'Driveway', 'Grocery Store or Supermarket',
       'Bus Station', 'Bus Stop', 'Light Rail Platform', 'Fire Station',
       'Rental Storage Facility', 'Office Building',
       'Hotel, Motel, Inn, Etc.', 'Department or Discount Store',
       'Specialty Store (Non-Specific)', 'Church, Synagogue, or Temple',
       'Vehicle/Auto Sales/Lease/Auto Parts Store',
       'Multi-Plex Home (Duplex,Triplex Etc.)', 'Vacant Restaurant',
       'Church, Synagogue, or Temple Parking Lot', 'Libraries, Museums',
       'Private School', 'Grocery Store or Supermarket Parking Lot',
       'Theatres, Dinner Theaters, Auditoriums',
       'Drug Store or Medical Supply',
       'Parks and Recreation, Zoo, Swimming Pool',
       'Barber And Beauty Shops', 'Bar or Night Club Parking Lot',
       'Laundry or Dry Cleaners Parking Lot',
       'Strip Business Center Parking Lot', 'Middle School',
       'Laundry, Dry Cleaners, Washaterias',
       'Savings and Loan Institutions', 'University or College',
       'Hospital', "Physician, Doctor, Dentist's Office",
       'Gym, Recreat, Club House, Indoor Pool', 'Hospital Parking Lot',
       'Field, Woods, Forest, Park', 'Highway or Freeway',
       'Hotel or Motel Parking Lot',
       'Book, Record, Stationary, Office Supplies', 'Clothing Store',
       'Vacant Building (Commercial)',
       'Daycare, Child Care, or Kindergarten',
       'Bank or Savings Institution Parking Lot', 'Freeway Service Road',
       'Condominium', 'Apartment Rental Office',
       'Pawn, Resale Shop, or Flea Market', 'Mall Common Area',
       'Mall Parking Lot', 'Adult Book Store or Newsstand',
       'Elementary School', 'Factory, Manufacturing, or Industrial',
       'Government or Public Building', 'Sexually Oriented Club',
       'Sexually Oriented Business Parking Lot', 'Check Cashing Places',
       'Electronics Store, Electrical Supplies',
       'Vacant Other Out Build/Monument/UnderConst', 'Liquor Store',
       'Car Wash', 'Auto Repair', 'Commercial Or Training School',
       'Vacant Storage Fac (Barn,Garage,Warehouse)',
       'Maintenance or Building Services', 'Police Station',
       'Vacant Other Residential (Apartment,Dorms)', 'Nursing Home',
       'Toys, Arts Craft,Musical, Bike,Pet Stores',
       'Stadium, Sports Arena, Race Track',
       'Garden Supply, Nursery, or Florist', 'High School',
       'Lake, Pond, Waterway, Bayou, River',
       'Vacant Grocery Store or Supermarket',
       'Marine Vehicle Sales, Boats, Sailboats',
       'Amusement Park, Bowling Alley, Skate Rink',
       'Utility Company, Electric, Gas, Water', 'Body Shop',
       'Liquor Store Parking Lot', 'Jewelry Stores',
       'Pool Hall or Game Room', 'Apartment Laundry',
       'Convention Center or Exhibit Halls',
       'Light Rail (Metro Rail) Vehicle', 'Rehabilitation Center',
       'Sporting Goods or Gun Shops', 'Airport Terminal',
       'Train (Not Metro) Terminal',
       'Furniture, Appliances, Radios, TV Store', 'Mobile Home',
       'Video Rental & Sales', 'Railroad Track or Right Of Way',
       'Social Services or Public Charities',
       'Vacant Industrial or Manufacturing Blding', 'Adult Novelty Store',
       'Alley', 'Jail or Prison', 'Vacant School or College/University',
       'Illicit Massage Parlor or Spa', 'Vacant Hotel, Motel, Etc.',
       'Vacant Government or Public Building', 'Not Listed',
       'Package Facility (FedEx,UPS,DHL)', 'Adult Theater/Arcade',
       'Credit Union', 'Gym, Recreat, Club House, Indoor Pool, Spa',
       'High Rise', 'Tollway', 'Vacant Church, Synagogue, or Temple',
       'Modeling Studio', 'Cantina',
       'Barber And Beauty Shops                                                                                                                               ',
       'Laundry, Dry Cleaners, Washaterias                                                                                                                    ',
       'Light Rail Platform                                                                                                                                   ',
       'Church, Synagogue, or Temple                                                                                                                          ',
       'Commercial Parking Lot or Garage                                                                                                                      ',
       'Other, Unknown, or Not Listed                                                                                                                         ',
       'Specialty Store (Non-Specific)                                                                                                                        ',
       'Residence or House                                                                                                                                    ',
       'Road, Street, or Sidewalk                                                                                                                             ',
       'Auto Repair                                                                                                                                           ',
       'Miscellaneous Business (Non-Specific)                                                                                                                 ',
       'Apartment                                                                                                                                             ',
       'Other Parking Lot                                                                                                                                     ',
       'Restaurant or Cafeteria Parking Lot                                                                                                                   ',
       'Convenience Store                                                                                                                                     ',
       'Construction Site                                                                                                                                     ',
       'Condominium                                                                                                                                           ',
       'Liquor Store Parking Lot                                                                                                                              ',
       'Commercial Building                                                                                                                                   ',
       'Parks and Recreation, Zoo, Swimming Pool                                                                                                              ',
       'Apartment Parking Lot                                                                                                                                 ',
       'Strip Business Center Parking Lot                                                                                                                     ',
       'Service or Gas Station                                                                                                                                ',
       'Garage or Carport                                                                                                                                     ',
       'Driveway                                                                                                                                              ',
       'Restaurant or Cafeteria                                                                                                                               ',
       'Convenience Store Parking Lot                                                                                                                         ',
       'Department or Discount Store                                                                                                                          ',
       'Light Rail (Metro Rail) Vehicle                                                                                                                       ',
       'Bar or Night Club                                                                                                                                     ',
       'Vacant Industrial or Manufacturing Blding                                                                                                             ',
       'Bar or Night Club Parking Lot                                                                                                                         ',
       'Grocery Store or Supermarket                                                                                                                          ',
       'Freeway Service Road                                                                                                                                  ',
       'Bus Station                                                                                                                                           ',
       'Bank                                                                                                                                                  ',
       'Vehicle/Auto Sales/Lease/Auto Parts Store                                                                                                             ',
       'Apartment Rental Office                                                                                                                               ',
       'Vacant School or College/University                                                                                                                   ',
       'Bus Stop                                                                                                                                              ',
       'Grocery Store or Supermarket Parking Lot                                                                                                              ',
       'Gym, Recreat, Club House, Indoor Pool                                                                                                                 ',
       'Park and Ride Terminal                                                                                                                                ',
       'Hotel or Motel Parking Lot                                                                                                                            ',
       'Multi-Plex Home (Duplex,Triplex Etc.)                                                                                                                 ',
       'Liquor Store                                                                                                                                          ',
       'High School                                                                                                                                           ',
       'Vacant Single Occ Resd(House,Townhs,Dplex)                                                                                                            ',
       'Bank or Savings Institution Parking Lot                                                                                                               ',
       'Field, Woods, Forest, Park                                                                                                                            ',
       'Nursing Home                                                                                                                                          ',
       'University or College                                                                                                                                 ',
       'Hospital Parking Lot                                                                                                                                  ',
       'Hospital                                                                                                                                              ',
       'Highway or Freeway                                                                                                                                    ',
       'Hotel, Motel, Inn, Etc.                                                                                                                               ',
       'Warehouse                                                                                                                                             ',
       'Drug Store or Medical Supply                                                                                                                          ',
       'Amusement Park, Bowling Alley, Skate Rink                                                                                                             ',
       'Government or Public Building                                                                                                                         ',
       'Libraries, Museums                                                                                                                                    ',
       'Daycare, Child Care, or Kindergarten                                                                                                                  ',
       'Pawn, Resale Shop, or Flea Market                                                                                                                     ',
       'Clothing Store                                                                                                                                        ',
       "Physician, Doctor, Dentist's Office                                                                                                                   ",
       'Mall Parking Lot                                                                                                                                      ',
       'Maintenance or Building Services                                                                                                                      ',
       'Check Cashing Places                                                                                                                                  ',
       'Factory, Manufacturing, or Industrial                                                                                                                 ',
       'Electronics Store, Electrical Supplies                                                                                                                ',
       'Office Building                                                                                                                                       ',
       'Car Wash                                                                                                                                              ',
       'Vacant Other Residential (Apartment,Dorms)                                                                                                            ',
       'Laundry or Dry Cleaners Parking Lot                                                                                                                   ',
       'Pool Hall or Game Room                                                                                                                                ',
       'Railroad Track or Right Of Way                                                                                                                        ',
       ' Not Listed',
       'Airport Terminal                                                                                                                                      ',
       'Church, Synagogue, or Temple Parking Lot                                                                                                              ',
       'Savings and Loan Institutions                                                                                                                         ',
       'Sporting Goods or Gun Shops                                                                                                                           ',
       'Body Shop                                                                                                                                             ',
       'Mall Common Area                                                                                                                                      ',
       'Rental Storage Facility                                                                                                                               ',
       'Theatres, Dinner Theaters, Auditoriums                                                                                                                ',
       'Mobile Home                                                                                                                                           ',
       'Vacant Church, Synagogue, or Temple                                                                                                                   ',
       'Vacant Storage Fac (Barn,Garage,Warehouse)                                                                                                            ',
       'Elementary School                                                                                                                                     ',
       'Alley                                                                                                                                                 ',
       'Lake, Pond, Waterway, Bayou, River                                                                                                                    ',
       'Middle School                                                                                                                                         ',
       'Private School                                                                                                                                        ',
       'Stadium, Sports Arena, Race Track                                                                                                                     ',
       'Vacant Building (Commercial)                                                                                                                          ',
       'Apartment Laundry                                                                                                                                     ',
       'Jewelry Stores                                                                                                                                        ',
       'Adult Novelty Store                                                                                                                                   ',

In [25]:
df17.Premise.value_counts(dropna=False)  # srip extra spaces

Residence or House                                                                                                                                        13967
Apartment Parking Lot                                                                                                                                     12838
Road, Street, or Sidewalk                                                                                                                                 11297
Apartment                                                                                                                                                 10249
Other Parking Lot                                                                                                                                          4864
Driveway                                                                                                                                                   4260
Restaurant or Cafeteria Parking Lot                                                                                                                        3827
Department or Discount Store                                                                                                                               3317
Commercial Parking Lot or Garage                                                                                                                           3098
Miscellaneous Business (Non-Specific)                                                                                                                      3069
Service or Gas Station                                                                                                                                     2749
Other, Unknown, or Not Listed                                                                                                                              2345
Strip Business Center Parking Lot                                                                                                                          2129
Grocery Store or Supermarket                                                                                                                               1933
Convenience Store                                                                                                                                          1932
Restaurant or Cafeteria                                                                                                                                    1766
Hotel or Motel Parking Lot                                                                                                                                 1565
Grocery Store or Supermarket Parking Lot                                                                                                                   1516
Residence or House                                                                                                                                         1230
Hotel, Motel, Inn, Etc.                                                                                                                                    1223
Apartment Parking Lot                                                                                                                                      1171
Road, Street, or Sidewalk                                                                                                                                  1112
Apartment                                                                                                                                                  1053
Convenience Store Parking Lot                                                                                                                              1024
Bar or Night Club Parking Lot                                                                                                                              1020
Garage or Carport                                                                                                                                           881
Vehicle/Auto Sales/Lease/Auto Parts Store                                                                                                                   871
Parks and Recreation, Zoo, Swimming Pool                                                                                                                    857
Commercial Building                                                                                                                                         815
Bar or Night Club                                                                                                                                           799
                                                                                                                                                          ...
Garden Supply, Nursery, or Florist                                                                                                                            3
Utility Company, Electric, Gas, Water                                                                                                                         3
Vacant School or College/University                                                                                                                           3
Vacant Government or Public Building                                                                                                                          3
Adult Book Store or Newsstand                                                                                                                                 3
Modeling Studio                                                                                                                                               2
Vacant Other Out Build/Monument/UnderConst                                                                                                                    2
Vacant Bank                                                                                                                                                   2
University or College                                                                                                                                         2
Vacant Restaurant                                                                                                                                             2
Railroad Track or Right Of Way                                                                                                                                2
Jail or Prison                                                                                                                                                2
Marine Vehicle Sales, Boats, Sailboats                                                                                                                        2
Savings and Loan Institutions                                                                                                                                 2
Social Services or Public Charities                                                                                                                           2
Vacant Grocery Store or Supermarket                                                                                                                           2
Police Station                                                                                                                                                2
Sexually Oriented Business Parking Lot                                                                                                                        1
Vacant Government or Public Building                                                                                                                          1
High Rise                                                                                                                                                     1
Rehabilitation Center                                                                                                                                         1
Book, Record, Stationary, Office Supplies                                                                                                                     1
Package Facility (FedEx,UPS,DHL)                                                                                                                              1
Vacant Church, Synagogue, or Temple                                                                                                                           1
Adult Novelty Store                                                                                                                                           1
Toys, Arts Craft,Musical, Bike,Pet Stores                                                                                                                     1
Train (Not Metro) Terminal                                                                                                                                    1
Vacant Industrial or Manufacturing Blding                                                                                                                     1
Vacant Hotel, Motel, Etc.                                                                                                                                     1
Vacant Hospital                                                                                                                                               1
Name: Premise, Length: 253, dtype: int64

In [26]:
df17.Offenses.unique()

array([ 1.,  4.,  2.,  3.,  5., 10.,  8.,  6.,  7.])

In [27]:
df17.Offenses.value_counts(dropna=False)  # 2 locations with 10 offenses?

1.0     117727
2.0       1661
3.0        227
4.0         70
5.0         21
6.0         10
7.0          7
10.0         2
8.0          2
Name: Offenses, dtype: int64

In [28]:
df17.Hour.unique()

array([15, 17,  9, 19,  0, 14,  2,  6,  7,  8, 13,  1,  3, 20, 21, 22,  4,
       12, 11, 16, 23,  5, 10, 18, 24])

In [29]:
df17.Hour.value_counts(dropna=False)  # 2-3 pm is the most common time for offenses

15    7531
14    7386
10    7209
13    7041
16    6970
9     6836
12    6816
11    6751
17    6515
8     6203
18    5951
19    5587
20    5136
7     5051
21    4509
22    4278
23    3738
6     3253
0     2912
1     2372
2     2315
5     1920
3     1784
4     1660
24       3
Name: Hour, dtype: int64

# Cleanup
## Premise Column

- strip empty spaces

In [30]:
len(df17.Premise.unique())

253

In [31]:
df17['Premise'] = df17['Premise'].str.strip()

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
len(df17.Premise.unique())

133

In [33]:
df17.Premise.value_counts(dropna=False)

Residence or House                           15197
Apartment Parking Lot                        14009
Road, Street, or Sidewalk                    12409
Apartment                                    11302
Other Parking Lot                             5419
Driveway                                      4729
Restaurant or Cafeteria Parking Lot           4177
Department or Discount Store                  3645
Commercial Parking Lot or Garage              3463
Miscellaneous Business (Non-Specific)         3345
Service or Gas Station                        3025
Other, Unknown, or Not Listed                 2599
Strip Business Center Parking Lot             2334
Grocery Store or Supermarket                  2091
Convenience Store                             2069
Restaurant or Cafeteria                       1915
Hotel or Motel Parking Lot                    1730
Grocery Store or Supermarket Parking Lot      1673
Hotel, Motel, Inn, Etc.                       1314
Convenience Store Parking Lot                 1125
Bar or Night Club Parking Lot                 1117
Parks and Recreation, Zoo, Swimming Pool       980
Vehicle/Auto Sales/Lease/Auto Parts Store      960
Garage or Carport                              951
Bar or Night Club                              877
Commercial Building                            876
Rental Storage Facility                        756
Mall Parking Lot                               752
Specialty Store (Non-Specific)                 716
Clothing Store                                 689
                                             ...
Commercial Or Training School                   33
Lake, Pond, Waterway, Bayou, River              31
Fire Station                                    30
Garden Supply, Nursery, or Florist              26
Adult Book Store or Newsstand                   25
Social Services or Public Charities             22
Book, Record, Stationary, Office Supplies       21
Vacant Restaurant                               20
Adult Novelty Store                             15
Credit Union                                    15
Train (Not Metro) Terminal                      13
Package Facility (FedEx,UPS,DHL)                13
High Rise                                       13
Vacant Hotel, Motel, Etc.                       13
Savings and Loan Institutions                   13
Illicit Massage Parlor or Spa                   12
Jail or Prison                                  12
Vacant School or College/University             11
Railroad Track or Right Of Way                  11
Video Rental & Sales                             9
Vacant Church, Synagogue, or Temple              8
Vacant Industrial or Manufacturing Blding        7
Tollway                                          5
Adult Theater/Arcade                             5
Cantina                                          4
Vacant Government or Public Building             4
Vacant Bank                                      2
Modeling Studio                                  2
Marine Vehicle Sales, Boats, Sailboats           2
Vacant Hospital                                  1
Name: Premise, Length: 133, dtype: int64

# Cleanup
## Offense Type Column

- strip empty spaces
- join similar values
- find value of 1 row
    - value 1 change to nan values, will fix later

In [34]:
df17['Offense Type'].value_counts(dropna=False)

Theft                        61411
Burglary                     15713
Aggravated Assault           11156
Robbery                       8956
AutoTheft                     6649
Theft                         6011
Auto Theft                    3874
Burglary                      1371
Rape                          1239
Aggravated Assault            1158
AutoTheft                      978
Robbery                        822
Murder                         235
Rape                           129
Murder                          23
1                                2
Name: Offense Type, dtype: int64

In [35]:
df17['Offense Type'].unique()

array(['Burglary', 'Theft', 'Robbery', 'Auto Theft', 'Aggravated Assault',
       'Rape', 'Murder', 'AutoTheft', 1, 'Burglary                 ',
       'Robbery                  ', 'Theft                    ',
       'AutoTheft                ', 'Aggravated Assault       ',
       'Rape                     ', 'Murder                   '],
      dtype=object)

In [36]:
len(df17['Offense Type'].unique())

16

In [37]:
df17['Offense Type'] = df17['Offense Type'].str.strip()

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
df17['Offense Type'].value_counts(dropna=False)

Theft                 67422
Burglary              17084
Aggravated Assault    12314
Robbery                9778
AutoTheft              7627
Auto Theft             3874
Rape                   1368
Murder                  258
NaN                       2
Name: Offense Type, dtype: int64

In [39]:
len(df17['Offense Type'].unique())

9

In [40]:
df17['Offense Type'].value_counts(dropna=False) # need to join AutoTheft & Auto Theft

Theft                 67422
Burglary              17084
Aggravated Assault    12314
Robbery                9778
AutoTheft              7627
Auto Theft             3874
Rape                   1368
Murder                  258
NaN                       2
Name: Offense Type, dtype: int64

In [41]:
df17 = df17.replace('Auto Theft','AutoTheft')

In [42]:
len(df17['Offense Type'].unique())

8

In [43]:
df17['Offense Type'].value_counts(dropna=False)  # still have nan values

Theft                 67422
Burglary              17084
Aggravated Assault    12314
AutoTheft             11501
Robbery                9778
Rape                   1368
Murder                  258
NaN                       2
Name: Offense Type, dtype: int64

In [44]:
df17[df17['Offense Type'].isnull()]  # nan values, will fix later, they used to be value 1

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,Offenses,Hour
35775,2017-02-15 00:00:00,20G40,1400-1499,DAIRY ASHFORD,NaN,Apartment,1.0,23
38357,2016-12-31 00:00:00,6B20,4200-4299,OAK SHADOWS,NaN,Residence or House,1.0,1

# Cleanup
## StreetName Column

- strip empty spaces
- find similar values and combine ( needs done)

In [45]:
df17.StreetName.value_counts(dropna=False).head()

WESTHEIMER       1993
WESTHEIMER RD    1230
GESSNER           980
NORTH             839
GULF              785
Name: StreetName, dtype: int64

In [46]:
len(df17.StreetName.unique())

21587

In [47]:
df17['StreetName'] = df17['StreetName'].str.strip()

In [48]:
len(df17.StreetName.unique())

18672

In [49]:
df17.StreetName.value_counts(dropna=False)  # WESTHEIMER & WESTHEIMER DR are similar, need cleanup

WESTHEIMER                 2101
WESTHEIMER RD              1438
GESSNER                    1028
NORTH                       882
LOOP                        833
GULF                        828
SAM HOUSTON                 807
RICHMOND                    771
KATY                        743
NORTHWEST                   710
SOUTHWEST                   695
MAIN                        675
BISSONNET                   648
RICHMOND AVE                621
BELLAIRE                    558
BELLFORT                    548
POST OAK                    536
BEECHNUT                    513
SHEPHERD                    474
FONDREN                     459
TIDWELL                     458
BISSONNET ST                437
BELLAIRE BLVD               426
LITTLE YORK                 411
BROADWAY                    410
WAYSIDE                     403
EAST                        394
FM 1960                     374
BEECHNUT ST                 365
KIRBY                       355
                           ...
LAKE GENEVA                   1
P O BOX 41                    1
LUNS                          1
ALPINE RD APT                 1
TEAL WAY                      1
MOUNT ST                      1
MARTHA                        1
ASPEN COVE DR                 1
CHARLESTOWN COLONY            1
GABY VIRBO                    1
LOCKERN                       1
DOE CIRCLE                    1
DUBARRY                       1
WESTCOTT RD                   1
SPRING RIDGE                  1
ASHFORD HOLLOW DRIVE          1
PINE LAKE / BUNKER HILL       1
BROMPTON APT 893              1
WIPPER                        1
MADRID ST APT 46              1
BELLERIVE DR APT 303          1
ESSENDINE                     1
BOLTON PL                     1
FAYRIDGE DR 421               1
BISON DR.                     1
FIESTA                        1
KATY FWY SUITE                1
LEDGE                         1
EL DORADO OAKS                1
MANORGLEN DR.                 1
Name: StreetName, Length: 18672, dtype: int64

# Cleanup
## BlockRange Column

- create mask to find 'UNK' values
- match with similar beat value (Needs to be done)

In [50]:
df17.BlockRange.value_counts(dropna=False).head()  # find UNK

900-999      1652
UNK          1629
100-199      1605
2400-2499    1553
2300-2399    1472
Name: BlockRange, dtype: int64

In [51]:
unk = df17.BlockRange == 'UNK'  # boolean mask

In [52]:
df17[unk]  # 1629 rows

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,Offenses,Hour
33,2017-04-16 00:00:00,10H20,UNK,2 RUSK,Burglary,Residence or House,1.0,22
71,2017-04-17 00:00:00,10H30,UNK,CHARTRES,Aggravated Assault,"Road, Street, or Sidewalk",1.0,2
139,2017-04-17 00:00:00,10H40,UNK,WESTHEIMER AND HWY 6,Theft,Restaurant or Cafeteria,1.0,12
275,2017-01-06 00:00:00,10H50,UNK,PIERCE,Theft,Commercial Building,1.0,13
314,2017-04-28 00:00:00,10H50,UNK,HOLMAN,Theft,Residence or House,1.0,6
454,2017-04-10 00:00:00,10H70,UNK,BAYLOR PLAZA,Theft,University or College,1.0,17
457,2017-04-10 00:00:00,10H70,UNK,HERMANN MUSEUM,Theft,Apartment,1.0,10
465,2017-04-12 00:00:00,10H70,UNK,BAYLOR PLAZA,Theft,Private School,1.0,16
467,2017-04-13 00:00:00,10H70,UNK,HERMANN MUSEUM,Theft,Apartment Parking Lot,1.0,18
474,2017-04-14 00:00:00,10H70,UNK,HERMANN MUSEUM,Theft,Apartment Parking Lot,1.0,13
483,2017-04-17 00:00:00,10H70,UNK,HERMANN MUSEUM,Theft,Residence or House,1.0,11
490,2017-04-19 00:00:00,10H70,UNK,BAYLOR PLAZA,Theft,University or College,1.0,11
491,2017-04-19 00:00:00,10H70,UNK,FANNIN,Theft,Commercial Parking Lot or Garage,1.0,11
500,2017-04-20 00:00:00,10H70,UNK,HERMANN MUSEUM,AutoTheft,Apartment Parking Lot,1.0,10
508,2017-04-01 00:00:00,10H70,UNK,HERMANN PARK,Theft,Apartment Parking Lot,1.0,16
513,2017-03-30 00:00:00,10H70,UNK,BAYLOR PLAZA,Theft,University or College,1.0,11
518,2017-03-31 00:00:00,10H70,UNK,HERMANN PARK,Theft,Other Parking Lot,1.0,14
522,2017-04-01 00:00:00,10H70,UNK,HERMANN PARK,Theft,Apartment Parking Lot,1.0,12
524,2017-04-04 00:00:00,10H70,UNK,HERMANN MUSEUM,Theft,Apartment Parking Lot,1.0,7
527,2017-04-04 00:00:00,10H70,UNK,HERMANN MUSEUM,Theft,Apartment Parking Lot,1.0,22
567,2017-04-22 00:00:00,10H70,UNK,HERMANN MUSEUM,Theft,Hospital Parking Lot,1.0,1
580,2017-04-23 00:00:00,10H70,UNK,HERMANN MUSEUM,Theft,"Road, Street, or Sidewalk",1.0,11
592,2017-04-27 00:00:00,10H70,UNK,HERMANN PARK,Theft,Apartment Parking Lot,1.0,13
595,2017-04-27 00:00:00,10H70,UNK,HERMANN PARK,Robbery,Commercial Parking Lot or Garage,1.0,1
598,2017-04-27 00:00:00,10H70,UNK,HERMANN PARK,Robbery,Commercial Parking Lot or Garage,1.0,22
1112,2017-03-27 00:00:00,12D10,UNK,ALMEDA GENOA,AutoTheft,Hotel or Motel Parking Lot,1.0,10
1162,2017-04-23 00:00:00,12D10,UNK,ALMEDA MALL,Theft,Mall Parking Lot,1.0,15
1163,2017-04-23 00:00:00,12D10,UNK,EDGEBROOK,Aggravated Assault,Apartment,1.0,17
1329,2017-04-29 00:00:00,12D30,UNK,FUQUA EXIT,AutoTheft,Other Parking Lot,1.0,20
1475,2017-04-23 00:00:00,12D70,UNK,EL DORADO EXIT,Theft,Other Parking Lot,1.0,17
...,...,...,...,...,...,...,...,...
117474,09/23/2017,3B50,UNK,DE BOLL ST,AutoTheft,Driveway,1.0,20
117482,09/27/2017,3B50,UNK,BURRESS ST,Theft,Strip Business Center Parking Lot,1.0,17
117529,09/16/2017,4F10,UNK,GESSNER / WESTVIEW,Theft,Not Listed,1.0,11
117551,09/23/2017,4F10,UNK,KATY FWY OB/BUNKER HILL OBIB,Theft,Restaurant or Cafeteria Parking Lot,1.0,11
117554,09/25/2017,4F10,UNK,PINE LAKE / BUNKER HILL,Theft,Grocery Store or Supermarket Parking Lot,1.0,14
117568,09/28/2017,4F10,UNK,GRIFFIN,Burglary,Apartment,1.0,12
117672,09/17/2017,4F30,UNK,SAM HOUSTON ENTR /KATY FWY OB,Theft,Commercial Parking Lot or Garage,1.0,12
117888,09/03/2017,5F30,UNK,NORTHWEST FWY IB/TIDWELL OBIB,Theft,Restaurant or Cafeteria Parking Lot,1.0,10
117904,09/07/2017,5F30,UNK,NORTHWEST FWY OB/PINEMONT ENTR RAMP,Theft,Construction Site,1.0,12
118138,09/29/2017,5F40,UNK,W FM 1960 RD/TOMBALL PKWY IB,Theft,Restaurant or Cafeteria Parking Lot,1.0,13
118167,09/12/2017,6B10,UNK,NORTH FWY OB/PARKER ENTR,Theft,Department or Discount Store,1.0,15
118176,09/16/2017,6B10,UNK,TIDWELL RD,Rape,Convenience Store Parking Lot,1.0,15
118189,09/23/2017,6B10,UNK,W LITTLE YORK RD/NORTH FWY OB,Robbery,Convenience Store,1.0,13
118190,09/23/2017,6B10,UNK,LITTLE YORK RD /NORTH FWY OB,Theft,Grocery Store or Supermarket Parking Lot,1.0,17
118543,09/10/2017,6B50,UNK,N SAM HOUSTON PKWY E,Theft,Hotel or Motel Parking Lot,1.0,21
118551,09/13/2017,6B50,UNK,ALDINE BENDER RD,Theft,Hotel or Motel Parking Lot,1.0,7
118555,09/14/2017,6B50,UNK,GOODSON DR,Theft,Apartment Parking Lot,1.0,12
118557,09/14/2017,6B50,UNK,NORTHPOINT,Theft,Office Building,1.0,13
118559,09/14/2017,6B50,UNK,GOODSON DR,AutoTheft,Apartment Parking Lot,1.0,21
118565,09/16/2017,6B50,UNK,PO BOX 1911,Aggravated Assault,"Hotel, Motel, Inn, Etc.",1.0,15
118654,09/10/2017,6B60,UNK,GREENS,Theft,Service or Gas Station,1.0,18
118791,09/11/2017,7C10,UNK,EAST FWY IB/LOCKWOOD EXIT,Theft,"Church, Synagogue, or Temple",1.0,16
118815,09/23/2017,7C10,UNK,EASTEX FWY IB/LYONS AVE,Robbery,Freeway Service Road,1.0,5
119002,09/23/2017,7C30,UNK,DODSON ST / LAURA KOPPE RD,Theft,Highway or Freeway,1.0,1
119026,09/08/2017,7C40,UNK,LITTLE YORK RD /EASTEX FWY IB,Theft,Grocery Store or Supermarket,1.0,19
119057,09/05/2017,7C50,UNK,EASTEX FWY IB/RANKIN RD,AutoTheft,"Road, Street, or Sidewalk",1.0,14
119525,09/20/2017,9C20,UNK,LOOP E/WALLISVILLE ENTR,AutoTheft,"Road, Street, or Sidewalk",1.0,19
119707,09/18/2017,UNK,UNK,SH 249 HWY IB,Theft,"Road, Street, or Sidewalk",1.0,17
119714,09/22/2017,UNK,UNK,NRG PARK,Theft,Convention Center or Exhibit Halls,1.0,19
119716,09/24/2017,UNK,UNK,E JACK AVE/N MAIN ST,Aggravated Assault,"Road, Street, or Sidewalk",1.0,8

# Cleanup
## Beat Column

- strip empty spaces

In [53]:
df17.Beat.unique()

array(['10H10', '10H20', '10H30', '10H40', '10H50', '10H60', '10H70',
       '10H80', '11H10', '11H20', '11H30', '11H40', '11H50', '12D10',
       '12D20', '12D30', '12D40', '12D50', '12D60', '12D70', '13D10',
       '13D20', '13D30', '13D40', '14D10', '14D20', '14D30', '14D40',
       '14D50', '15E10', '15E20', '15E30', '15E40', '16E10', '16E20',
       '16E30', '16E40', '17E10', '17E20', '17E30', '17E40', '18F10',
       '18F20', '18F30', '18F40', '18F50', '18F60', '19G10', '19G20',
       '19G30', '19G40', '19G50', '1A10', '1A20', '1A30', '1A40', '1A50',
       '20G10', '20G20', '20G30', '20G40', '20G50', '20G60', '20G70',
       '20G80', '21I10', '21I20', '21I30', '21I40', '21I50', '21I60',
       '21I70', '23J50', '24C10', '24C20', '24C30', '24C40', '24C50',
       '24C60', '2A10', '2A20', '2A30', '2A40', '2A50', '2A60', '3B10',
       '3B30', '3B40', '3B50', '4F10', '4F20', '4F30', '5F10', '5F20',
       '5F30', '5F40', '6B10', '6B20', '6B30', '6B40', '6B50', '6B60',
       '7C10', '7C20', '7C30', '7C40', '7C50', '8C10', '8C20', '8C30',
       '8C40', '8C50', '8C60', '9C10', '9C20', '9C30', '9C40', 'UH-3P',
       'UNK', '23J40', '10H10 ', '10H20 ', '10H30 ', '10H40 ', '10H50 ',
       '10H60 ', '10H70 ', '10H80 ', '11H10 ', '11H20 ', '11H30 ',
       '11H40 ', '11H50 ', '12D10 ', '12D20 ', '12D30 ', '12D40 ',
       '12D50 ', '12D60 ', '12D70 ', '13D10 ', '13D20 ', '13D30 ',
       '13D40 ', '14D10 ', '14D20 ', '14D30 ', '14D40 ', '14D50 ',
       '15E10 ', '15E20 ', '15E30 ', '15E40 ', '16E10 ', '16E20 ',
       '16E30 ', '16E40 ', '17E10 ', '17E20 ', '17E30 ', '17E40 ',
       '18F10 ', '18F20 ', '18F30 ', '18F40 ', '18F50 ', '18F60 ',
       '19G10 ', '19G20 ', '19G30 ', '19G40 ', '19G50 ', '1A10  ',
       '1A20  ', '1A30  ', '1A40  ', '1A50  ', '20G10 ', '20G20 ',
       '20G30 ', '20G40 ', '20G50 ', '20G60 ', '20G70 ', '20G80 ',
       '21I10 ', '21I20 ', '21I40 ', '21I50 ', '21I60 ', '21I70 ',
       '23J50 ', '24C10 ', '24C20 ', '24C30 ', '24C40 ', '24C50 ',
       '24C60 ', '2A10  ', '2A20  ', '2A30  ', '2A40  ', '2A50  ',
       '2A60  ', '3B10  ', '3B30  ', '3B40  ', '3B50  ', '4F10  ',
       '4F20  ', '4F30  ', '5F10  ', '5F20  ', '5F30  ', '5F40  ',
       '6B10  ', '6B20  ', '6B30  ', '6B40  ', '6B50  ', '6B60  ',
       '7C10  ', '7C20  ', '7C30  ', '7C40  ', '7C50  ', '8C10  ',
       '8C20  ', '8C30  ', '8C40  ', '8C50  ', '8C60  ', '9C10  ',
       '9C20  ', '9C30  ', '9C40  ', 'UNK   '], dtype=object)

In [54]:
len(df17.Beat.unique())

237

In [55]:
df17['Beat'] = df17['Beat'].str.strip()

In [56]:
len(df17.Beat.unique())

120

In [57]:
df17.Beat.value_counts(dropna=False)

1A20     2852
15E40    2443
12D10    2430
19G10    2205
18F20    2202
18F40    2100
17E10    2098
13D20    2062
3B10     2038
6B60     1993
1A30     1991
14D20    1980
5F30     1965
1A50     1893
17E40    1891
2A50     1870
18F30    1870
20G50    1860
1A10     1819
20G30    1781
20G10    1739
2A30     1730
5F40     1651
7C20     1597
18F50    1559
10H70    1556
3B50     1526
11H10    1494
9C40     1489
20G80    1485
         ...
12D60     434
13D40     392
8C20      380
12D40     374
24C50     361
21I50     355
8C40      347
10H20     329
14D50     324
24C30     311
24C20     303
24C10     293
11H50     265
9C10      254
18F10     253
12D50     235
21I10     221
1A40      202
11H40     164
23J50     146
24C40     129
24C60     126
13D30     124
21I60      62
21I70      22
21I20      18
21I40      15
21I30       5
UH-3P       1
23J40       1
Name: Beat, Length: 120, dtype: int64

In [58]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119727 entries, 0 to 119726
Data columns (total 8 columns):
Date            119727 non-null object
Beat            119727 non-null object
BlockRange      119727 non-null object
StreetName      119718 non-null object
Offense Type    119725 non-null object
Premise         119240 non-null object
Offenses        119727 non-null float64
Hour            119727 non-null int64
dtypes: float64(1), int64(1), object(6)
memory usage: 7.3+ MB

## Cleanup

### Date column
- convert to datetime
- index date colimn
- sort index

In [59]:
df17.head(5)

,Date,Beat,BlockRange,StreetName,Offense Type,Premise,Offenses,Hour
0,2017-04-10 00:00:00,10H10,200-299,CLIFTON,Burglary,Residence or House,1.0,15
1,2017-04-11 00:00:00,10H10,2300-2399,CANAL,Theft,Restaurant or Cafeteria Parking Lot,1.0,15
2,2017-04-11 00:00:00,10H10,2300-2399,CANAL,Theft,Restaurant or Cafeteria Parking Lot,1.0,17
3,2017-04-12 00:00:00,10H10,4600-4699,CANAL,Burglary,Miscellaneous Business (Non-Specific),1.0,9
4,2017-04-12 00:00:00,10H10,100-199,ADAM,Theft,"Other, Unknown, or Not Listed",1.0,19

In [60]:
df17['Date'] = pd.to_datetime(df17['Date'])

df17 = df17.set_index('Date').sort_index(ascending=True)

In [61]:
df17.head(5)

,Beat,BlockRange,StreetName,Offense Type,Premise,Offenses,Hour
Date,,,,,,,
1917-01-20,20G20,2100-2199,GESSNER,Theft,Apartment Parking Lot,1.0,12
1917-02-20,17E20,9100-9199,FONDREN,AutoTheft,"Road, Street, or Sidewalk",1.0,15
1917-02-20,10H70,7500-7599,ARDMORE,Theft,Other Parking Lot,1.0,16
1917-04-16,18F20,1100-1199,UPTOWN PARK,Rape,Bar or Night Club,1.0,12
1917-12-18,9C20,500-599,PORTWALL,Theft,Miscellaneous Business (Non-Specific),1.0,14

In [62]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 119727 entries, 1917-01-20 to 2017-12-31
Data columns (total 7 columns):
Beat            119727 non-null object
BlockRange      119727 non-null object
StreetName      119718 non-null object
Offense Type    119725 non-null object
Premise         119240 non-null object
Offenses        119727 non-null float64
Hour            119727 non-null int64
dtypes: float64(1), int64(1), object(5)
memory usage: 7.3+ MB

## Odd dates
`DatetimeIndex: 119727 entries, 1917-01-20 to 2017-12-31`

- some values are not from this year, lets look

In [63]:
df2017 = df17.loc['2017-01-01':'2017-12-31']  # rows with date from 01,01,17 - 12,31,17

In [64]:
df2007_wrong_date = df17[:"2016"]  # rows with year 0  upto 2016

In [65]:
df2017.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 118581 entries, 2017-01-01 to 2017-12-31
Data columns (total 7 columns):
Beat            118581 non-null object
BlockRange      118581 non-null object
StreetName      118573 non-null object
Offense Type    118580 non-null object
Premise         118107 non-null object
Offenses        118581 non-null float64
Hour            118581 non-null int64
dtypes: float64(1), int64(1), object(5)
memory usage: 7.2+ MB

# NAN values

- Premise nan : 474 rows
- streetName nan : 8 rows
- Offense Type nan : 1

In [101]:
premise_nan = df2017.Premise.isnull()  #
str_nan = df2017.StreetName.isnull()
off_nan = df2017['Offense Type'].isnull()

In [96]:
beat_mask = df2017['Beat'] == '2A30'  # beat 2A30 mask
res_house = df2017.Premise =='Residence or House'
rd_side = df2017.Premise =='Road, Street, or Sidewalk'
vac_res = df2017.Premise =='Vacant Single Occ Resd(House,Townhs,Dplex)'
theft_msk = df2017['Offense Type'] == 'Theft'
burglary_msk = df2017['Offense Type'] == 'Burglary'

In [110]:
df2017[(beat_mask)& (str_nan)]

,Beat,BlockRange,StreetName,Offense Type,Premise,Offenses,Hour
Date,,,,,,,
2017-01-16,2A30,UNK,NaN,Theft,Residence or House,1.0,15
2017-01-20,2A30,UNK,NaN,Theft,"Road, Street, or Sidewalk",1.0,22
2017-01-26,2A30,UNK,NaN,Burglary,Residence or House,1.0,13
2017-02-25,2A30,UNK,NaN,Theft,"Road, Street, or Sidewalk",1.0,9
2017-03-11,2A30,UNK,NaN,Burglary,"Vacant Single Occ Resd(House,Townhs,Dplex)",1.0,0
2017-04-02,2A30,UNK,NaN,Theft,Residence or House,1.0,11

In [111]:
df2017.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 118581 entries, 2017-01-01 to 2017-12-31
Data columns (total 7 columns):
Beat            118581 non-null object
BlockRange      118581 non-null object
StreetName      118573 non-null object
Offense Type    118580 non-null object
Premise         118107 non-null object
Offenses        118581 non-null float64
Hour            118581 non-null int64
dtypes: float64(1), int64(1), object(5)
memory usage: 9.7+ MB

## DROP nan
drop nan values of StreetName

In [112]:
df2017.head()

,Beat,BlockRange,StreetName,Offense Type,Premise,Offenses,Hour
Date,,,,,,,
2017-01-01,20G80,14600-14699,BRIAR FOREST,Theft,Apartment Parking Lot,1.0,12
2017-01-01,19G50,11700-11799,WILCREST,Theft,Bar or Night Club Parking Lot,1.0,19
2017-01-01,3B50,7300-7399,IRVINGTON,AutoTheft,Bar or Night Club,1.0,12
2017-01-01,3B50,6500-6599,AMASA,Aggravated Assault,"Road, Street, or Sidewalk",1.0,2
2017-01-01,2A50,6700-6799,ARNOT,Theft,"Parks and Recreation, Zoo, Swimming Pool",1.0,9

In [116]:
df2017 = df2017.dropna(subset=['StreetName'])  # drop nan values from StreetName, 8 rows

In [117]:
df2017.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 118573 entries, 2017-01-01 to 2017-12-31
Data columns (total 7 columns):
Beat            118573 non-null object
BlockRange      118573 non-null object
StreetName      118573 non-null object
Offense Type    118572 non-null object
Premise         118099 non-null object
Offenses        118573 non-null float64
Hour            118573 non-null int64
dtypes: float64(1), int64(1), object(5)
memory usage: 7.2+ MB

In [130]:
df2017['Premise'] = df2017['Premise'].fillna('unk')

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [137]:
df2017.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 118573 entries, 2017-01-01 to 2017-12-31
Data columns (total 7 columns):
Beat            118573 non-null object
BlockRange      118573 non-null object
StreetName      118573 non-null object
Offense Type    118572 non-null object
Premise         118573 non-null object
Offenses        118573 non-null float64
Hour            118573 non-null int64
dtypes: float64(1), int64(1), object(5)
memory usage: 9.7+ MB

In [138]:
df2017['Offense Type'].value_counts(dropna=False)

Theft                 66789
Burglary              16910
Aggravated Assault    12264
AutoTheft             11386
Robbery                9753
Rape                   1224
Murder                  246
NaN                       1
Name: Offense Type, dtype: int64

## Fillna
will use this since Dont know what to do... :/

In [139]:
df2017['Offense Type'].fillna(method='ffill', inplace=True)

/home/salas/miniconda3/envs/springboard/lib/python3.6/site-packages/pandas/core/generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [141]:
df2017.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 118573 entries, 2017-01-01 to 2017-12-31
Data columns (total 7 columns):
Beat            118573 non-null object
BlockRange      118573 non-null object
StreetName      118573 non-null object
Offense Type    118573 non-null object
Premise         118573 non-null object
Offenses        118573 non-null float64
Hour            118573 non-null int64
dtypes: float64(1), int64(1), object(5)
memory usage: 9.7+ MB

## Save clean data to  to csv

In [143]:
df2017.to_csv('clean_data/crime_data/crime17_clean.csv')

In [144]:
ls clean_data/crime_data/

crime17_clean.csv*