In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import googlemaps
import gmaps
import requests
API_KEY = 'your_apikey'

import gmaps_func as gf
import datetime as dt

In [2]:
path = 'crime_data_clean/crime_1A10_10_17.csv'
df = pd.read_csv(path,index_col='Date_Hour', parse_dates=True)

In [3]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01,1A10,300-399,HAMILTON,Auto Theft,bar/night club parking lot,1,0,1,Friday,Jan,2010
2010-01-01,1A10,1200-1299,CAROLINE,Theft,bar/night club,1,0,1,Friday,Jan,2010
2010-01-01,1A10,400-499,MAIN,Burglary,office building,1,0,1,Friday,Jan,2010
2010-01-01,1A10,1200-1299,TRAVIS,Theft,other/unknown,1,0,1,Friday,Jan,2010
2010-01-01,1A10,1000-1099,AVENIDA DE LAS AMERICAS,Theft,convention center/exhibit halls,1,0,1,Friday,Jan,2010

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 15204 entries, 2010-01-01 00:00:00 to 2017-12-31 22:00:00
Data columns (total 11 columns):
Beat           15204 non-null object
BlockRange     15204 non-null object
StreetName     15204 non-null object
OffenseType    15204 non-null object
Premise        15204 non-null object
NumOffenses    15204 non-null int64
Hour           15204 non-null int64
day            15204 non-null int64
weekday        15204 non-null object
month          15204 non-null object
year           15204 non-null int64
dtypes: int64(4), object(7)
memory usage: 1.4+ MB

## Return a good blockrange value

In [5]:
gf.block_split(df)

ValueError: invalid literal for int() with base 10: 'UNK'

## Drop 'UNK' values

In [6]:
unk = df.BlockRange == 'UNK'

In [7]:
df = df[~unk]

In [8]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01,1A10,300-399,HAMILTON,Auto Theft,bar/night club parking lot,1,0,1,Friday,Jan,2010
2010-01-01,1A10,1200-1299,CAROLINE,Theft,bar/night club,1,0,1,Friday,Jan,2010
2010-01-01,1A10,400-499,MAIN,Burglary,office building,1,0,1,Friday,Jan,2010
2010-01-01,1A10,1200-1299,TRAVIS,Theft,other/unknown,1,0,1,Friday,Jan,2010
2010-01-01,1A10,1000-1099,AVENIDA DE LAS AMERICAS,Theft,convention center/exhibit halls,1,0,1,Friday,Jan,2010

In [9]:
df['block'] = gf.block_split(df)

ValueError: invalid literal for int() with base 10: '1.1103e+006'

In [10]:
df.BlockRange.value_counts()

1200-1299                  1555
900-999                    1132
1000-1099                  1061
1500-1599                   973
1100-1199                   924
500-599                     921
800-899                     868
700-799                     865
1600-1699                   819
1400-1499                   783
1300-1399                   728
400-499                     598
600-699                     543
1800-1899                   522
1900-1999                   419
1700-1799                   415
300-399                     407
100-199                     292
200-299                     271
2000-2099                   117
0-99                         90
2400-2499                    30
2800-2899                    26
2100-2199                    18
2300-2399                    18
5000-5099                    14
3100-3199                    14
2500-2599                    12
3000-3099                    12
8200-8299                    11
                           ...
10800-10899                   1
13100-13199                   1
18400-18499                   1
12000-12099                   1
14600-14699                   1
13600-13699                   1
4100-4199                     1
18200-18299                   1
14200-14299                   1
16800-16899                   1
16700-16799                   1
1.1103e+006-1.1104e+006       1
33400-33499                   1
17300-17399                   1
16200-16299                   1
13900-13999                   1
31300-31399                   1
13800-13899                   1
15800-15899                   1
22900-22999                   1
11500-11599                   1
13400-13499                   1
14500-14599                   1
13000-13099                   1
15400-15499                   1
15200-15299                   1
18700-18799                   1
11100-11199                   1
16400-16499                   1
21600-21699                   1
Name: BlockRange, Length: 161, dtype: int64

In [11]:
ran = df.BlockRange == '1.1103e+006-1.1104e+006'

In [12]:
df[ran]

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2017-09-01 21:00:00,1A10,1.1103e+006-1.1104e+006,AVENIDA DE LAS AMERICAS,Theft,convention center or exhibit halls,1,21,1,Friday,Sep,2017

In [ ]:
av = df.StreetName == 'AVENIDA DE LAS AMERICAS'

In [ ]:
df[av]

In [13]:
df.BlockRange[df.BlockRange == '1.1103e+006-1.1104e+006']= '1000-1099'

In [14]:
df[ran].BlockRange

Date_Hour
2017-09-01 21:00:00    1000-1099
Name: BlockRange, dtype: object

In [16]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year
Date_Hour,,,,,,,,,,,
2010-01-01,1A10,300-399,HAMILTON,Auto Theft,bar/night club parking lot,1,0,1,Friday,Jan,2010
2010-01-01,1A10,1200-1299,CAROLINE,Theft,bar/night club,1,0,1,Friday,Jan,2010
2010-01-01,1A10,400-499,MAIN,Burglary,office building,1,0,1,Friday,Jan,2010
2010-01-01,1A10,1200-1299,TRAVIS,Theft,other/unknown,1,0,1,Friday,Jan,2010
2010-01-01,1A10,1000-1099,AVENIDA DE LAS AMERICAS,Theft,convention center/exhibit halls,1,0,1,Friday,Jan,2010

In [17]:
df['block'] = gf.block_split(df)

In [18]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block
Date_Hour,,,,,,,,,,,,
2010-01-01,1A10,300-399,HAMILTON,Auto Theft,bar/night club parking lot,1,0,1,Friday,Jan,2010,350
2010-01-01,1A10,1200-1299,CAROLINE,Theft,bar/night club,1,0,1,Friday,Jan,2010,1250
2010-01-01,1A10,400-499,MAIN,Burglary,office building,1,0,1,Friday,Jan,2010,450
2010-01-01,1A10,1200-1299,TRAVIS,Theft,other/unknown,1,0,1,Friday,Jan,2010,1250
2010-01-01,1A10,1000-1099,AVENIDA DE LAS AMERICAS,Theft,convention center/exhibit halls,1,0,1,Friday,Jan,2010,1050

## Create full addres col

In [19]:
df['address']  = df[['block', 'StreetName']].apply(lambda x: ' '.join(x), axis=1)

In [20]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address
Date_Hour,,,,,,,,,,,,,
2010-01-01,1A10,300-399,HAMILTON,Auto Theft,bar/night club parking lot,1,0,1,Friday,Jan,2010,350,350 HAMILTON
2010-01-01,1A10,1200-1299,CAROLINE,Theft,bar/night club,1,0,1,Friday,Jan,2010,1250,1250 CAROLINE
2010-01-01,1A10,400-499,MAIN,Burglary,office building,1,0,1,Friday,Jan,2010,450,450 MAIN
2010-01-01,1A10,1200-1299,TRAVIS,Theft,other/unknown,1,0,1,Friday,Jan,2010,1250,1250 TRAVIS
2010-01-01,1A10,1000-1099,AVENIDA DE LAS AMERICAS,Theft,convention center/exhibit halls,1,0,1,Friday,Jan,2010,1050,1050 AVENIDA DE LAS AMERICAS

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14978 entries, 2010-01-01 00:00:00 to 2017-12-31 22:00:00
Data columns (total 13 columns):
Beat           14978 non-null object
BlockRange     14978 non-null object
StreetName     14978 non-null object
OffenseType    14978 non-null object
Premise        14978 non-null object
NumOffenses    14978 non-null int64
Hour           14978 non-null int64
day            14978 non-null int64
weekday        14978 non-null object
month          14978 non-null object
year           14978 non-null int64
block          14978 non-null object
address        14978 non-null object
dtypes: int64(4), object(9)
memory usage: 2.2+ MB

In [22]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address
Date_Hour,,,,,,,,,,,,,
2010-01-01,1A10,300-399,HAMILTON,Auto Theft,bar/night club parking lot,1,0,1,Friday,Jan,2010,350,350 HAMILTON
2010-01-01,1A10,1200-1299,CAROLINE,Theft,bar/night club,1,0,1,Friday,Jan,2010,1250,1250 CAROLINE
2010-01-01,1A10,400-499,MAIN,Burglary,office building,1,0,1,Friday,Jan,2010,450,450 MAIN
2010-01-01,1A10,1200-1299,TRAVIS,Theft,other/unknown,1,0,1,Friday,Jan,2010,1250,1250 TRAVIS
2010-01-01,1A10,1000-1099,AVENIDA DE LAS AMERICAS,Theft,convention center/exhibit halls,1,0,1,Friday,Jan,2010,1050,1050 AVENIDA DE LAS AMERICAS

# get full lat long and address from google

## Test

In [24]:
df_20 = df.iloc[:20].copy()
df_20['tup_add'] = df_20['address'].apply(gf.gm_geocode,args=(API_KEY,))
df_20.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address,tup_add
Date_Hour,,,,,,,,,,,,,,
2010-01-01,1A10,300-399,HAMILTON,Auto Theft,bar/night club parking lot,1,0,1,Friday,Jan,2010,350,350 HAMILTON,"((29.7572118, -95.3532941), 350 Hamilton St, H..."
2010-01-01,1A10,1200-1299,CAROLINE,Theft,bar/night club,1,0,1,Friday,Jan,2010,1250,1250 CAROLINE,"((29.7535116, -95.36381070000002), 1250 Caroli..."
2010-01-01,1A10,400-499,MAIN,Burglary,office building,1,0,1,Friday,Jan,2010,450,450 MAIN,"((29.7609537, -95.36208859999999), 450 S Main ..."
2010-01-01,1A10,1200-1299,TRAVIS,Theft,other/unknown,1,0,1,Friday,Jan,2010,1250,1250 TRAVIS,"((29.7555945, -95.36767669999999), 1250 Travis..."
2010-01-01,1A10,1000-1099,AVENIDA DE LAS AMERICAS,Theft,convention center/exhibit halls,1,0,1,Friday,Jan,2010,1050,1050 AVENIDA DE LAS AMERICAS,"((29.7520152, -95.35918099999999), 1050 Avenid..."

## Attempt

In [27]:
bf = dt.datetime.now().time().strftime("%X")
print('start:{}'.format(bf))
df['tup_add'] = df['address'].apply(gf.gm_geocode,args=(API_KEY,))

af = dt.datetime.now().time().strftime("%X")
print('end:{}'.format(af))

start:18:53:52

IndexError: list index out of range

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14978 entries, 2010-01-01 00:00:00 to 2017-12-31 22:00:00
Data columns (total 13 columns):
Beat           14978 non-null object
BlockRange     14978 non-null object
StreetName     14978 non-null object
OffenseType    14978 non-null object
Premise        14978 non-null object
NumOffenses    14978 non-null int64
Hour           14978 non-null int64
day            14978 non-null int64
weekday        14978 non-null object
month          14978 non-null object
year           14978 non-null int64
block          14978 non-null object
address        14978 non-null object
dtypes: int64(4), object(9)
memory usage: 2.2+ MB

In [ ]:
df.to_csv('crime_data_clean/crime_1A10_10_17ADD.csv')

In [29]:
df.head()

,Beat,BlockRange,StreetName,OffenseType,Premise,NumOffenses,Hour,day,weekday,month,year,block,address
Date_Hour,,,,,,,,,,,,,
2010-01-01,1A10,300-399,HAMILTON,Auto Theft,bar/night club parking lot,1,0,1,Friday,Jan,2010,350,350 HAMILTON
2010-01-01,1A10,1200-1299,CAROLINE,Theft,bar/night club,1,0,1,Friday,Jan,2010,1250,1250 CAROLINE
2010-01-01,1A10,400-499,MAIN,Burglary,office building,1,0,1,Friday,Jan,2010,450,450 MAIN
2010-01-01,1A10,1200-1299,TRAVIS,Theft,other/unknown,1,0,1,Friday,Jan,2010,1250,1250 TRAVIS
2010-01-01,1A10,1000-1099,AVENIDA DE LAS AMERICAS,Theft,convention center/exhibit halls,1,0,1,Friday,Jan,2010,1050,1050 AVENIDA DE LAS AMERICAS

In [ ]:
new_add = df.tup_add.apply(pd.Series,index=['lat_lon','full_address'])

In [ ]:
new_add.head()

In [ ]:
df = df.join(new_add)

In [ ]:
df.drop(['block','BlockRange','StreetName','address','tup_add','address','tup_add',],axis=1,inplace=True)

In [ ]:
#df.drop('block', axis=1,inplace=True)

In [ ]:
df.head()

In [ ]:
df.to_csv('crime_data_clean/crime_1A10_10_17FINAL.csv')